

a.googleFont {
    text-decoration: none;
    color: #495057;
}

.material-icons {
    position: relative;
    top: 5px;
    color: #28a745;
}

.active .material-icons{
    color: #ffc107;
    text-decoration: underline;
}

/****** list-style *******/
ul.list-style-errors {
    list-style: none; /* Remove default bullets */
  }
  
  ul.list-style-errors li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.5em;
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1.3em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }