/* .validity {
    content: '✖';
    color: #f00;
    padding: 0px 5px;
} */

input.ng-valid+span:after,
select.ng-valid+span:after,
textarea.ng-valid+span:after,
input:valid+small:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

input.ng-invalid+span:after,
select.ng-invalid+span:after,
textarea.ng-invalid+span:after,
input:invalid+small:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

/* input:invalid+small:after {
    position: relative;
    content: '✖';
    padding-left: 5px;
}

input:valid+small:after {
    position: relative;
    content: '✓';
    padding-left: 5px;
}
 */

/* input:valid+span:after,
select:valid+span:after,
textarea:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

input:invalid+span:after,
select:invalid+span:after,
textarea:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
} */