<app-auth>
    <form class="p-3" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
        <div class="form-group row">

            <div class="col-sm-12">
                <h2 class="h5">שנה סיסמה</h2>
            </div>
            <label for="name" class="col col-form-label">שם</label>
            <div class="col-sm-9 col-lg-10 clearfix">
                <div class="inputTypeNumber clearfix">
                    <input name="name" id="name" type="text" class="col-11" formControlName="name" placeholder="שם"
                        required />
                    <span class="validity float-left"></span>
                </div>
            </div>
            <div *ngIf="resetPassword.controls.name.invalid && resetPassword.controls.name.touched"
                class="invalid-feedback d-block">* שדה חובה
            </div>
        </div>

        <div class="form-group row">

            <label for="email" class="col col-form-label">אימייל</label>
            <div class="col-sm-9 col-lg-10 clearfix">
                <div class="inputTypeNumber clearfix">
                    <input type="email" name="email" id="email" class="col-11" aria-describedby="email"
                        [pattern]="emailPatteren" formControlName="email" min="6" max="12"
                        placeholder="פורמט: name10@email.com" required>
                    <small id="email" class="validity float-left"></small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="newPassword" class="col col-form-label">סיסמה חדשה</label>

            <div class="col-sm-9 col-lg-10">
                <div class="inputTypeNumber clearfix">
                    <input type="password" name="newPassword" id="newPassword" class="col-11" formControlName="password"
                        aria-describedby="newPassword" min="6" max="12" placeholder=" (מנימום 6 תווים)" required>
                    <small id="newPassword" class="validity float-left"></small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password_confirmation" class="col col-form-label">אשר סיסמה</label>
            <div class="col-sm-9 col-lg-10">
                <div class="inputTypeNumber clearfix clearfix">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="col-11"
                        formControlName="password_confirmation" aria-describedby="password_confirmation" min="6"
                        max="12" placeholder=" (מנימום 6 תווים)" required>
                    <small id="password_confirmation" class="validity float-left"></small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 clearfix">
                <div class="float-left">
                    <button class="btn btn-outline-success btn-sm" type="submit">
                        שנה סיסמה
                    </button>
                </div>
            </div>
        </div>
    </form>
</app-auth>