<dashboard-model *ngIf="admin$ | async as admin" [modelProps]="mdProps">

    <form class="p-3" [formGroup]="roles" (ngSubmit)="onSubmit()">


        <div class="form-group">
            <label class="my-1" for="name">סמכות</label>
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input id="autoritys" type="text" name="autority" class="w-100 bd-highlight px-1"
                    formControlName="name">
                <span class="validity float-left"></span>

            </div>
            <p class="my-1">סמכויות קיימות</p>
            <select class="form-control text-dark">
                <option *ngFor="let role of admin.roles" [value]="role.name"
                    [selected]="role.name == admin.authority.name" disabled>{{ role.name }}</option>
            </select>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <label class="d-block col-12" for="authority">הרשאה</label>

                <div class="inputTypeNumber d-flex bd-highlight">
                    <input id="authority" type="text" name="authority" class="w-100 bd-highlight px-1"
                        formControlName="authority" [attr.disabled]="! (f.name.valid)? true: null" #roleInput>
                    <span class="validity float-left"></span>
                </div>

            </div>

            <div class="col clearfix">
                <label class="d-block" for="authority">צור הרשאה חדשה</label>
                <span class="btn btn-success d-block float-right" (click)="newRole(roleInput)"
                    [attr.disabled]="! (f.name.valid)? true: null">חדש</span>
            </div>
            <div class="col-12">

                <p class="my-1">בחר הרשאות</p>
                <fieldset [attr.disabled]="! (f.name.valid)? true: null">
                    <div class="inputTypeNumber mb-2 d-flex flex-wrap">
                        <div *ngFor="let permission of admin.authority.permissions | keyvalue; let idx = index"
                            class="custom-control custom-checkbox custom-control-inline col-6 px-1 align-items-center">

                            <input [id]="permission.key" [value]="permission.key" class="custom-control-input"
                                type="checkbox" [checked]="permission.value" #checkBox>
                            <!-- (click)="onValueChanged(checkBox)" -->
                            <button type="button" class="btn btn-outline-success btn-sm float-right my-1 col-2"
                                (click)="addItem(checkBox)">הוסף</button>
                            <label [for]="permission.key" class="custom-control-label col-6">
                                {{ permission.key }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div *ngIf="selectedItems && selectedItems.length" class="col-12">

                <p class="my-1">הרשאות</p>
                <div class="inputTypeNumber mb-2 d-flex flex-wrap">
                    <div *ngFor="let selectedItem of selectedItems; let idx2 = index"
                        class="custom-control custom-checkbox custom-control-inline col-6 px-1 align-items-center">
                        <div *ngIf="selectedItem | keyvalue as item" class="col-12">

                            <input [id]="'addedItem'+idx2+item[0].key" [value]="item[0].key"
                                class="custom-control-input" type="checkbox" [checked]="item[0].value"
                                (click)="onValueChanged(checkBox1)" #checkBox1>
                            <button type="button" class="btn btn-outline-warning btn-sm float-right my-1 col-2"
                                (click)="removeItem(checkBox1, item, idx2)">הסר</button>
                            <label [for]="'addedItem'+idx2+item[0].key" class="custom-control-label col-6">
                                {{ item[0].key }}
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success float-left" [attr.disabled]="! (roles.valid)? true: null">
            <!-- <i class="fa fa-envelope"></i> -->
            צור סמכות
        </button>
    </form>
</dashboard-model>