<hr class="d-xl-none">
<div *ngIf="(customer$ | async) as customer" class="row  text-right">
    <div class="col-sm-12">
        <div class="p-3 border border-success">
            <a class="close float-left" routerLink="../" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <div class="media">

                <img height="50" [src]="customer?.loggo" [alt]="customer?.company">

                <div class="media-body mr-3">

                    <h4>
                        {{ customer?.title }}
                    </h4>
                    <div [innerHTML]="customer?.content | keepHtml"></div>
                    <!-- <quill-view-html [content]="customer?.content" theme="snow"></quill-view-html> -->

                    <p>
                        <a routerLink="../" class="btn btn-outline-info font-weight-bold">
                            <i class="fa fa-location-arrow"></i>
                            חזור
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>