<!-- FOOTER -->
<div class="row bg-warning mt-3">
  <footer class="col-sm-12 footer-class">
    <!--  fixed-bottom -->
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="float-right">
              <a href="#">
                <i class="fa fa-angle-double-up"></i>
                לחץ לחזרה לתחילת התפריט
              </a>
            </p>

            <p>&copy; 2017-2018 NWT בניית אתרי אינטרנט, בעמ. &middot;
              <a href="#">Privacy</a> &middot;
              <a href="#">Terms</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-white">
      <div class="container">
        <nav class="nav nav-bar row text-right">
          <div class="col-sm-12">
            <!-- <h2>דף ניווט</h2> -->
          </div>
          <!-- <ul class="col-sm-12 m-0 p-0"> -->
          <ul class="nav col-sm-12">
            <div class="row w-100">
              <div class="col-sm-4">
                <h5>
                  אתיופיה אירועים
                </h5>
                <li>
                  <a href="#">יומן אירועים</a>
                </li>
                <li>
                  <a href="#">טיפים</a>
                </li>
                <li>
                  <a href="#">צור קשר</a>
                </li>
              </div>
              <div class="col-sm-4">
                <h5>
                  מאמרים
                </h5>
                <li>
                  <a href="#">עצות מ-דיגי</a>
                </li>
                <li>
                  <a href="#">זיקוקים ואפקטים מיוחדים</a>
                </li>
                <li>
                  <a href="#">צלם מקצועי ממליץ</a>
                </li>
              </div>
              <div class="col-sm-4">
                <h5>
                  מידע נוסף
                </h5>
                <li>
                  <a href="#">צור קשר</a>
                </li>
                <li>
                  <a href="#">הצטרפות לאינדקס מקצועי</a>
                </li>
                <li>
                  <a href="#">פרסום באתר</a>
                </li>
              </div>
            </div>
          </ul>

        </nav>
      </div>
    </div>
  </footer>
</div>