<!-- position-relative -->
<!-- <app-contact [mailProps]="eeMessage"></app-contact> -->
<div *ngIf="(allowLogin$ | async) as allowLogin">
    <ng-template *ngIf="loginParams" [appLogInDirective]="loginParams"></ng-template>
</div>

<div *ngIf="(sendingMail | async) as allowMesage">
    <ng-template *ngIf="allowMesage && allowMesage[eeMessage.id]" [appSendMessage]="eeMessage"></ng-template>
</div>

<header class="d-flex flex-row-reverse">

    <div class="btn-group align-self-center" role="group" aria-label="Button group with nested dropdown">

        <ng-container [ngTemplateOutlet]="userItems" [ngTemplateOutletContext]="{user: (user$ | async) }">
        </ng-container>

    </div>

    <ng-template #userItems let-user="user">

        <ng-container [ngTemplateOutlet]="user? logged: noUser" 
        [ngTemplateOutletContext]="{
            user: (user && user.user && user.user?.activeted)? user.user: 
                    (user && user.admin && user.admin?.activeted)? user.admin: 'user'
        }">
        </ng-container>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ user? "אפשריות": "התחבר"}}
                <!-- <i class="fa fa-toolbox"></i> -->
            </button>

            <div class="dropdown-menu dropdown-user p-3 text-right" aria-labelledby="btnGroupDrop1">

                <ng-container [ngTemplateOutlet]="loginlogout" [ngTemplateOutletContext]="{user: user }">
                </ng-container>
                <hr>
                <div class="myForm" appSearchDirective>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #loginlogout let-user="user">
        <div class="user-item clearfix">
            משתמש: {{ (user && user.user? user.user.name: user? user.name: '')}}
            <div class="float-left">

                <ng-container [ngTemplateOutlet]="(! user) || (! user?.user)? login: logout"
                    [ngTemplateOutletContext]="{user: user && user?.user? user.user: 'user' }">
    
                </ng-container>

                <a *ngIf="user && user?.user" [ngClass]="user && user.user?.activeted? 'btn btn-light text-success': 'btn btn-light'"  (click)="active(user.user)">
                    {{ ! user.user?.activeted  ? 'החלף': 'Active'}}
                    <i *ngIf="(! user.user?.activeted)" class="fa fa-exchange-alt text-primary"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="admin-item clearfix">
            מנהל: {{ (user && user.admin? user.admin.user?.name: '')}}
            <div class="float-left">

                <ng-container [ngTemplateOutlet]="(! user) || (! user?.admin)?  login: logout"
                    [ngTemplateOutletContext]="{user: user && user.admin? user.admin: 'admin' }">
    
                </ng-container>
                <a *ngIf="user && user?.admin" [ngClass]="user && user.admin?.activeted? 'btn btn-light text-success': 'btn btn-light'" (click)="active(user.admin)">
                    {{ ! user.admin?.activeted? 'החלף': 'Active'}}
    
                    <i *ngIf="! user.admin?.activeted" class="fa fa-exchange-alt text-primary"></i>
                </a>
            </div>
        </div>
    </ng-template>


    <ng-template #login let-user="user">
        <a class="btn btn-light" (click)="logIn(user)">
            התחבר
            <!-- {{ user }} -->
            <i class="fa fa-sign-in text-primary rotated"></i>
        </a>
    </ng-template>

    <ng-template #noUser>

        <a (click)="register('/register')" class="btn btn-light" title="הרשמה">
            הרשמה
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </ng-template>

    <ng-template #logout let-user="user">

        <a class="btn btn-light float-left" (click)="logOut(user)">
            התנתק
            <i class="fa fa-sign-out text-danger rotated"></i>
        </a>
    </ng-template>

    <ng-template #logged let-user="user">

        <a (click)="setUrlProfile(user)" class="btn btn-light btn-sm">
            {{ user.authority? "מנהל": user.name }}
            <i class="material-icons text-primary">person</i>
        </a>

        <a *ngIf="user && user?.customer as customer" (click)="setUrlPage(customer)" class="btn btn-sm btn-light">
            הדף שלי
            <i class="material-icons">pages</i>
        </a>

        <a class="btn btn-sm btn-light" (click)="logOut(user)">
            התנתק
            <i class="fa fa-sign-out text-danger rotated"></i>
        </a>
    </ng-template>


    <nav class="navbar navbar-expand-lg col">
        <a class="navbar-brand" routerLink="/dashboard">
            <img src="./assets/pages/logosmall.gif" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- mr-auto  class="col-sm-10 offset-1"-->
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">

            <ul class="navbar-nav mr-1 text-right">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">ברוכים הבאים</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/join">הצטרף לאינדקס</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/articles">בלוג</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/events">יומן אירועים</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/מאמרים">מאמרים</a>
                </li> -->
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        נותני שרות
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="customers/halls-events">אולם אירועים</a>
                        <a class="dropdown-item" routerLink="customers/salons">סלון כלות</a>
                        <a class="dropdown-item" routerLink="customers/djs">די-ג'י</a>
                        <a class="dropdown-item" routerLink="customers/photographers">צלמים</a>
                        <a class="dropdown-item" routerLink="customers/hotels">בתי מלון וצימרים</a>
                        <a class="dropdown-item" routerLink="customers/printing">בתי דפוס</a>

                        <a class="dropdown-item" routerLink="customers/transportation">הסעות</a>
                        <a class="dropdown-item" routerLink="customers/fireworks">זיקוקים
                            ואטרקציות</a>
                        <a class="dropdown-item" routerLink="customers/car-rents">השכרת רכב</a>
                        <a class="dropdown-item" routerLink="customers/kyses">קייסים/רבנות</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="customers/שונות">שונות</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/deals">מבצעים</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        אודות
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" routerLink="/מטרת-האתר">מטרת-האתר</a>
                        <a class="nav-link" routerLink="/אודות">אודות</a>
                        <a class="nav-link" (click)="contactModel('ee')">צור קשר</a><!-- routerLink="/צור-קשר" -->
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>