<!-- position-relative -->
<!-- <app-contact [mailProps]="eeMessage"></app-contact> -->
<div [appLogInDirective]="loginParams"></div>
<div *ngIf="(sendingMail | async) as allowMesage">
    <ng-template *ngIf="allowMesage && allowMesage[eeMessage.id]" [appSendMessageDirective]="eeMessage"></ng-template>
</div>

<header class="d-flex flex-row-reverse">

    <div class="btn-group align-self-center" role="group" aria-label="Button group with nested dropdown">

        <ng-container [ngTemplateOutlet]="userItems" [ngTemplateOutletContext]="{user: (user$ | async) }">
        </ng-container>

    </div>

    <ng-template #userItems let-user="user">

        <ng-container [ngTemplateOutlet]="user? logged: noUser" [ngTemplateOutletContext]="{user: user }">
        </ng-container>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <i class="fa fa-toolbox"></i> -->
            </button>

            <div class="dropdown-menu dropdown-user p-3 text-right" aria-labelledby="btnGroupDrop1">
                <div class="user-item clearfix">
                    משתמש:
                    <a *ngIf="! user || (user && user.authority); else logout" class="btn btn-light float-left"
                        (click)="logIn(islogged)">
                        התחבר
                        <i class="fa fa-sign-in text-success rotated"></i>
                    </a>
                </div>
                <hr>
                <div class="admin-item clearfix">
                    מנהל:
                    <a *ngIf="! user || (user && ! user.authority); else logout" class="btn btn-light float-left"
                        (click)="logIn(islogged)">
                        התחבר
                        <i class="fa fa-sign-in text-primary rotated"></i>
                    </a>
                </div>
                <hr>
                <div class="myForm">
                    <form class="form-inline">
                        <div class="form-group mb-0">
                            <input id="search_form" class="form-control" type="search" placeholder="חפש באתר"
                                aria-label="Search" (keyup)="searchItems($event)">
                        </div>
                        <a class="btn btn-outline-light"><i class="fa fa-search"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #noUser>

        <a class="btn btn-light" (click)="logIn(islogged)">
                משתמש
                <i class="fa fa-sign-in text-success rotated"></i>
        </a>

        <a (click)="register('/register')" class="btn btn-light">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </ng-template>
    <ng-template #logout>
        <a class="btn btn-light float-left" (click)="logOut()">
            התנתק
            <i class="fa fa-sign-out text-danger rotated"></i>
        </a>
    </ng-template>
    <ng-template #logged let-user="user">
        <!-- userProfil -->
        <a [routerLink]="setUrlProfile(user)" class="btn btn-light btn-sm">
                {{ user.authority? "מנהל": "משתמש" }}
                <i class="material-icons text-primary">person</i>

        </a>
        <!-- customerPage -->
        <a *ngIf="user.customer as customer" [routerLink]="setUrlPage(customer)" class="btn btn-sm btn-light">
            <i class="material-icons">pages</i>
        </a>
        <a class="btn btn-sm btn-light" (click)="logOut()">
            התנתק
            <i class="fa fa-sign-out text-danger rotated"></i>
        </a>
    </ng-template>

    <div class="align-self-center position-relative">

        <div class="hidden-item search-div position-absolute bg-white text-right">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg col">
        <a class="navbar-brand" routerLink="/dashboard">
            <img src="./assets/pages/logosmall.gif" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- mr-auto  class="col-sm-10 offset-1"-->
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">

            <ul class="navbar-nav mr-1 text-right">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">ברוכים הבאים</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/join">הצטרף לאינדקס</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/blog">בלוג</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/scedule-events">יומן אירועים</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/מאמרים">מאמרים</a>
                </li> -->
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        נותני שרות
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="customers/halls-events">אולם אירועים</a>
                        <a class="dropdown-item" routerLink="customers/salons">סלון כלות</a>
                        <a class="dropdown-item" routerLink="customers/djs">די-ג'י</a>
                        <a class="dropdown-item" routerLink="customers/photographers">צלמים</a>
                        <a class="dropdown-item" routerLink="customers/hotels">בתי מלון וצימרים</a>
                        <a class="dropdown-item" routerLink="customers/printing">בתי דפוס</a>

                        <a class="dropdown-item" routerLink="customers/transportation">הסעות</a>
                        <a class="dropdown-item" routerLink="customers/fireworks">זיקוקים
                            ואטרקציות</a>
                        <a class="dropdown-item" routerLink="customers/car-rents">השכרת רכב</a>
                        <a class="dropdown-item" routerLink="customers/kyses">קייסים/רבנות</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="customers/שונות">שונות</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/deals">מבצעים</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        אודות
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" routerLink="/מטרת-האתר">מטרת-האתר</a>
                        <a class="nav-link" routerLink="/אודות">אודות</a>
                        <a class="nav-link" (click)="contactModel('ee')">צור קשר</a><!-- routerLink="/צור-קשר" -->
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>