<!-- <dashboard-model [modelProps]='mdProps'> -->
<div *ngIf="itemData" class="border rounded">

  <form class="p-3" [formGroup]="formGr" (ngSubmit)="onSubmit()">
    <!-- class="form-row" -->
    <!-- (ngSubmit)="srv.update('admins', itemData, formGr, 'PUT')" -->
    <div class="form-group row">
      <label for="name" class="col col-form-label">
        שם:
      </label>
      <div class="col-sm-9 col-lg-10">

        <div class="inputTypeNumber mb-2 d-flex bd-highlight">
          <input class="w-100 bd-highlightpx-1" formControlName="name" type="text">
          <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col col-form-label">
        אימייל:
      </label>
      <div class="col-sm-9 col-lg-10">

        <div class="inputTypeNumber mb-2 d-flex bd-highlight">
          <input class="w-100 bd-highlightpx-1" id="email" formControlName="email" type="email">
          <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="authority" class="col col-form-label">
        הרשאות :
      </label>
      <div class="col-sm-9 col-lg-10">
        <div class="inputTypeNumber mb-2 d-flex bd-highlight">
          <select *ngIf="itemData.authority?.id as authId" id="authority" [value]="authId" formControlName="authority"
            class="w-100 bd-highlightpx-1" required>

            <option [value]="authId" selected disabled>{{ itemData.authority?.name }}</option>
            <option *ngIf="itemData.authority?.slug != 'admin'" [value]="3">Admin</option>
            <option *ngIf="itemData.authority?.slug != 'author'" [value]="1">Author</option>
            <option *ngIf="itemData.authority?.slug != 'editor'" [value]="2">Editor</option>
          </select>
          <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
        </div>
      </div>
      

    </div>
    <div class="d-flex justify-content-end">
        <!-- <div class="col d-inline-block">
            <span class="border border-success rounded p-1 costum-btn costum-btn-success">
                <i class="material-icons">chevron_right </i>
                <i class="mt-icons"> חזור </i>
              </span>
        </div> -->
          <button class="btn btn-success btn-sm" type="submit">עדכן</button>
      </div>
  </form>
  <hr>
  <h2 *ngIf="mdProps.message" class="h4 text-center text-success">{{mdProps.message}}</h2>
  <app-user-setting *ngIf="itemData.authority" [admin]="itemData"></app-user-setting>

</div>
<!-- </dashboard-model> -->