<div class="card">
    <div class="row no-gutters">
      <div class="col-sm-2 bg-light">
        <div class="text-center p-3">
          <h5 class="card-title">מנהל</h5>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="card-body">
          <h5 class="card-title"> {{ itemData.name }}</h5>
          <ul class="list-group p-0">
            <li class="list-group-item">
              שם: {{ itemData.name }}
            </li>
            <li class="list-group-item">
              אימייל: {{ itemData.email }}
            </li>
            <li *ngIf="itemData.created_at as userDt" class="list-group-item">
              נוצר בתאריך:
              <p>{{ userDt | dateHebraw:"full" }}</p>
            </li>
            <li class="list-group-item">
              הרשאה:
                {{ itemData.authority?.slug }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>