  <div *ngIf="mailProps" [id]="mailProps.id" class="modal fade" tabindex="-1" role="dialog" [attr.aria-labelledby]="mailProps.id"
    aria-hidden="true">

    <div [class]="mailProps.modalSize+' modal-dialog text-right bg-light'">
      <div class="modal-content">
        
        <div class="modal-header">
            <h5 *ngIf="mailProps.inputs" class="modal-title" id="exampleModalLabel">{{ mailProps.title }} ל: <small class="text-success"> {{ mailProps.nameTo}} </small></h5>
            <button type="button" class="close m-0 float-left" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <ng-content></ng-content>
          </div>
      </div>
    </div>
  </div>