<div *ngIf="messageItems" class="accordion" id="parent_accord">
    <h1 class="h5 my-3">דואר נכנס</h1>

    <!-- <div *ngFor="let message of messageItems; let idx = index" class="co-12"> -->
    <app-mail-menu-temp *ngFor="let message of messageItems; let idx = index" [message]="message" [idx]="idx">

        <a *ngIf="(message.name+message.id) | rmWhiteSpace as collapseId" class="badge badge-primary badge-pill page-link dropdown-toggle" data-toggle="collapse"
            [href]="'#'+collapseId+'replay'" role="button" [attr.aria-expanded]="message.id == 1"
            [attr.aria-controls]="collapseId+'replay'">
            השב
        </a>
        <a *ngIf="! message.favorites" class="badge badge-default badge-pill page-link" (click)="favorites(message)">
            <i class="fa fa-star"></i>
            מועדפים
        </a>
    <a class="badge badge-warning badge-pill page-link"  (click)="srv.block(message)">חסום משתמש</a>
        <a class="badge badge-danger badge-pill page-link" (click)="trash(message)">אשפה</a>
    </app-mail-menu-temp>

    
    <!-- </div> -->
</div>