<div dir="rtl" *ngIf="isTrue | async" class="row text-right">
  <!-- <div class="col-sm-12">
    
  </div> -->
  
  <div class="col-sm-6">
    <!-- <h2 class="h5 p-3"></h2> -->
    
      <div class="border-top p-3 btn-group btn-group-toggle" data-toggle="buttons">
          <span>הצג אירועים לפי: </span>
          <label  class="btn btn-light active"  (click)="daily()">יומי
              <input type="radio" id="option1" name="options" autocomplete="off">
          </label>
          <label  class="btn btn-light"  (click)="weekly()">שבועי
              <input type="radio" id="option2" name="options" autocomplete="off">
          </label>
          <label  class="btn btn-light"  (click)="monthly()">חודשי
              <input type="radio" id="option3" name="options" autocomplete="off">
          </label>
          <label  class="btn btn-light"  (click)="yearly()">שנתי
              <input type="radio" id="option4" name="options" autocomplete="off">
          </label>
      </div>
    <div class="add-events events p-3"></div>
  </div>

  <div class="col-sm-6">
    <form [formGroup]="formEvents" class="pull-right p-3 border border-left rounded" (ngSubmit)="childInstans.onSubmit(formMethod)">
      <div class="form-group formGroup clearfix">
        <span class="btn btn-sm btn-success float-left" (click)="createEvents()">צור אירוע חדש</span>
      </div>
      <div class="form-group formGroup">
        <div class="input">
          <input id="date" formControlName="date" type="text" class="d-inline" autocomplete="off" [pattern]="datePattern"
          (keyup)="(f.date.valid)? daily(date.value):''" (click)="fire(date)" placeholder="בחר תאריך" #date>
          <label class="m-0 p-1 float-left" for="datepickr">
            <!-- <span style="margin-top: .15em;" class="glyphicon glyphicon-calendar"> </span> -->
            <!-- <i class="far fa-calendar-alt"></i> -->
    
            <!-- <i class="material-icons"> perm_contact_calendar</i> -->
            <i class="material-icons" >date_range</i>
            <!-- date_range || close -->
          </label>
        </div>
          <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: date, itemMethod: formMethod}"></ng-container>
      </div>
      
      <edit-events-temp [formInstans]="formEvents" [cus]="customer" (ins)="childIns($event)"></edit-events-temp>

          <div class="btn-group col text-light bg-light">
            <button class="btn btn-success btn-sm" type="submit">{{ formMethod == 'update'? 'עדכן הכל':'צור אירוע'}} </button>
            <a class="btn btn-warning btn-sm" (click)="childInstans.reset()">אפס</a>
            <a class="btn btn-danger btn-sm" (click)="childInstans.close()">בטל וסגור</a>
            <a *ngIf="formMethod == 'update'" class="btn btn-info btn-sm" (click)="childInstans.allTodefault()">שחזר ברירת מחדל</a>
          </div>
    </form>
  </div>
</div>

<ng-template  #clickedMethods let-elem="elem" let-itemMethod="itemMethod">
  <div class="my-2">
  <a *ngIf="itemMethod == 'update'" class="ml-1 px-2 py-2 my-2 border rounded text-center active" (click)="childInstans.update(elem)">
    <span>
      עדכן
      <i class="material-icons text-success">
        update
      </i>
    </span>
  </a>
  <a *ngIf="elem.value" class="ml-1 px-2 py-2 my-2 border rounded text-center active" (click)="childInstans.inputReset(elem)">
    <span>
      נקה
      <i class="material-icons text-warning">
        clear
      </i>
    </span>
  </a>
  <a *ngIf="itemMethod == 'update'" class="ml-1 px-2 py-2 my-2 border rounded text-center active" (click)="childInstans.default(elem)">
    <span>
      מקור
      <i class="material-icons text-primary">
        redo
      </i>
    </span>
  </a>
</div>
<div *ngIf="messages && messages['elem']" class="bg-light p-1 ml-1">
    <p *ngFor="let message of messages['elem']" class="bg-light p-1 m-1 d-inline-block">
        
      <span *ngIf="message['elem']">
          <b [ngClass]="'text-'+message['type']"> {{ message['elem']  }} </b> 
      </span>
    </p>
</div>
</ng-template>