<model-template [mailProps]="mailProps">
    <form class="form-row p-3" [formGroup]="formConcat" (ngSubmit)="onSubmit()">

        <div class="form-group col-md-6">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input type="text" formControlName="name" class="w-100 bd-highlightpx-1" id="name"
                    placeholder="השם שלך">
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input class="w-100 bd-highlightpx-1" type="text" formControlName="city" id="city"
                    placeholder="עיר מגורים">
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>
        </div>

        <div class="form-group col-md-6">

            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <select id="rigion" formControlName="area" class="w-100 bd-highlightpx-1">
                    <option selected>אזור</option>
                    <option value="north">צפון</option>
                    <option value="center">מרכז והשפלה</option>
                    <option value="south">דרום</option>
                </select>
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>

        </div>

        <div class="form-group col-md-6">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input type="tel" formControlName="phone" class="w-100 bd-highlightpx-1" id="phone"
                    [pattern]="phonePatteren" placeholder="טלפון/פלאפון">
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>

        </div>
        <div class="form-group col-md-6">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input type="email" formControlName="email" class="w-100 bd-highlightpx-1" id="email"
                    [pattern]="emailPatteren" placeholder="אימייל">
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>

        </div>
        <div class="form-group col-md-6">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight">
                <input type="text" formControlName="subject" class="w-100 bd-highlightpx-1" id="input"
                    placeholder="נושא הפניה">
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>

        </div>
        <div class="form-group col-md-12">
            <div class="inputTypeNumber mb-2 d-flex bd-highlight textarea">
                <textarea formControlName="message" class="w-100 bd-highlightpx-1" id="textarea" rows="8"
                    placeholder="הוסף הודעה">
            </textarea>
                <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">שלח</button>
    </form>

</model-template>