<ng-template #default>
  Loading...
</ng-template>

<div class="text-right" *ngIf="(itemsResources$  | async )?.events as events">
  <div class="clearfix">
    <h5 class="shadow-sm py-2 text-black-50 h2">
      <i class="fa fa-message text-secondary"></i>
      אירועים
      <span class="btn btn-success btn-sm float-left m-1">צור אירוע חדש</span>
    </h5>
  </div>
  <div *ngIf="events && events.pending.length">
    <app-pending [itemsLists]="events"></app-pending>
  </div>

  <ng-container *ngTemplateOutlet="tempType; context:{elem: events}"></ng-container>
</div>

<ng-template #tableEvents let-resource="elem">
  <!-- <div class="table-responsive"> -->
  <table class="table">
    <ng-container [ngTemplateOutlet]="eventsTable" [ngTemplateOutletContext]="{res:resource}"></ng-container>
  </table>
  <!-- </div> -->

  <div class="text-center clearfix py-3">
    <pagination-template #p="paginationApi" [id]="resource.config.id"
      (pageChange)="resource.config.currentPage = $event">

      <div class="custom-pagination float-right">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <i *ngIf="!p.isFirstPage()" (click)="p.previous()" class="fa fa-angle-double-right"></i>
        </div>
        <div class="page-number border" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <i *ngIf="!p.isLastPage()" (click)="p.next()" class="fa fa-angle-double-left"></i>
        </div>
      </div>
    </pagination-template>
  </div>
</ng-template>

<!-- events Table -->
<ng-template #eventsTable let-eventsData="res">

  <thead class="thead-light text-right">
    <tr>
      <th scope="col">שם</th>
      <th scope="col">סוג האירוע</th>
      <th scope="col">פורסם ב</th>
      <th scope="col">סטטוס</th>
      <th><span class="border-primary">הצג</span></th>
      <th><span class="border-info">משתמש</span></th>
      <th><span class="border-warning">ערוך</span></th>
      <th><span class="border-danger">מחק</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventsData.data | paginate: eventsData.config; let idx = index">
      <th scope="row">{{event.name}}</th>
      <td>{{event.eventType | eventTypeToHeb}}</td>

      <td>
        <small class="text-muted">
          {{ event.created_at  | dateHebraw:'full' }}
        </small>
      </td>
      <td [ngClass]="event.confirmed? 'text-success':'text-danger'">
        {{event.confirmed? "פעיל":  "ממתין"}}
      </td>
      <td><a class="btn btn-primary btn-sm" [routerLink]="event.id">הצג</a></td>
      <td><a class="btn btn-info btn-sm" [routerLink]="'/dashboard/users-views/'+event.user_id">משתמש</a></td>
      <td><a class="btn btn-outline-danger btn-sm" [routerLink]="event.id+'/edit'">ערוך</a>
      </td>
      <td><a class="btn btn-danger btn-sm" (click)="destroy(event)">מחק</a></td>
    </tr>
  </tbody>
</ng-template>

<ng-template #checkBox let-itemObj="elem">
  <div class="custom-control custom-checkbox">
    <input [id]="itemObj.name+itemObj.id" class="custom-control-input" type="checkbox" [checked]="itemObj.confirmed">

    <label [for]="itemObj.name+itemObj.id" class="custom-control-label">
      {{ itemObj.confirmed? "סרב": "אשר" }}
    </label>
  </div>
</ng-template>

<ng-template #viewOrEdit let-itemObj="elem" let-inputType="input" let-inputId="inputId">

  <label [for]="inputId" class="w-100 col-form-label">

    <a class="text-primary float-right link" (click)="editIem(inputId)">
      {{ itemObj[inputType].trim().length > 15? 'ערוך או הצג תוכן': 'ערוך' }}
    </a>
  </label>
  <textarea class="form-control text-break hide" name="body" [id]="inputId">
          {{ itemObj[inputType].trim() }}
    </textarea>
</ng-template>

<ng-template #eventsForm>

  <form class="form-row p-3 border rounded" [formGroup]="formGr" (ngSubmit)="onSubmit()">
    <div class="form-group col-sm-12">
      <h5 class="shadow-sm py-2 text-black-50 h4">

        <i class="fa fa-message text-secondary"></i>
        ערוך אירועים
      </h5>
    </div>
    <div class="form-group col-md-6">
      <label for="name" class="form-control-label">
        שם:
      </label>
      <input class="form-control" formControlName="name" type="text">
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="form-control-label">
        אימייל:
      </label>
      <input class="form-control" id="email" formControlName="email" type="email">
    </div>
    <div class="form-group col-md-6">
      <label for="address" class="form-control-label">
        כתובת:
      </label>
      <input class="form-control" id="address" formControlName="address" type="address">
    </div>
    <div class="form-group col-md-6">
      <label for="location" class="form-control-label">
        מיקום:
      </label>
      <input class="form-control" id="location" formControlName="location" type="location">
    </div>

    <div class="form-group col-md-6">
      <label for="date" class="form-control-label">
        תאריך:
      </label>
      <input class="form-control" id="date" formControlName="date" type="text">
    </div>
    <div class="form-group col-md-6">
      <label for="phone" class="form-control-label">
        טל:
      </label>
      <input class="form-control" id="phone" formControlName="phone" type="tel">
    </div>
    <div class="form-group col-md-12">
      <label for="description" class="form-control-label">
        תיאור\הודעה:
      </label>
      <textarea class="form-control" id="description" formControlName="description" type="text" rows="8"></textarea>
    </div>
    <div class="form-group col-2 custom-control custom-checkbox">
      <input [id]="confirmed" class="custom-control-input" type="checkbox" [checked]="f.confirmed.value">

      <label [for]="confirmed" class="custom-control-label">
        סטטוס:
        {{ f.confirmed.value? "סרב": "אשר" }}
      </label>
    </div>
    <div class="form-group col-sm-12 clearfix">
      <a class="btn btn-link" (click)="initForm(false, tableEvents)">
        חזור
      </a>
      <button class="btn btn-success btn-sm float-left" type="submit">עדכן</button>
    </div>
  </form>
</ng-template>