<div *ngIf="itemResource" class="col-12 text-right">
    <ng-container
      [ngTemplateOutlet]="(itemType == 'customers')? cleint:(itemType == 'blog')? blog: (itemType == 'events')? events:(itemType == 'users')? users: (itemType == 'admins')? admins: default">
    </ng-container>
    <!-- <ng-container [ngTemplateOutlet]="cleint"></ng-container> -->
    <!-- </div> -->
    <div *ngIf="(itemResource.customer || itemResource) as resource" class="border rounded my-3 p-3">
  
      <div class="clearfix">
        <!-- <span class="btn btn-light btn-sm" (click)="initForm(false, tableCustomers)"> -->
        <span class="border border-success rounded p-1 costum-btn costum-btn-success" 
        [queryParams]="resource.businessType? {name:  resource.businessType}: undefined" 
        routerLink="../">
          <i class="material-icons"> chevron_right </i>
          <i class="mt-icons"> חזור </i>
        </span>
        <span class="border border-danger rounded mr-1 p-1 costum-btn costum-btn-danger" routerLink="edit">
          <i class="mt-icons">מחק</i>
          <i class="material-icons"> delete_forever </i>
        </span>
      </div>
    </div>
  
    <ng-template #default>
      <div>default</div>
    </ng-template>
  
    <ng-template #cleint>
      <app-customer-edit [customerItem]="itemResource"></app-customer-edit>
    </ng-template>
  
    <ng-template #blog>
  
      <app-post-edit [postItem]="itemResource"></app-post-edit>
    </ng-template>
  
    <ng-template #events>
      <app-event-edit [eventItem]="itemResource"></app-event-edit>
    </ng-template>
  
    <ng-template #users>
      <app-user-edit [usersItem]="itemResource"></app-user-edit>
    </ng-template>
  
    <ng-template #admins>
  
      <app-admin-edit [adminItem]="itemResource"></app-admin-edit>
    </ng-template>
  </div>