<hr class="d-sm-none">
<div *ngIf="(sendingMail | async) as allowMesage">
    <ng-template *ngIf="allowMesage && allowMesage[customerMessage.id]" [appSendMessage]="customerMessage"></ng-template>
</div>

<div *ngIf="(customer | async)?.customer as cust" class="row text-right">
        <div class="col-xs-12 col-xl-4">
            <!-- <app-customer-temp [costumerProps]="customer" [ownerLogged]="canAccess"></app-customer-temp> -->

            <div *ngIf="(customer | async)?.customer as customer" class="row card-group">

                <div class="col-sm-12 col-md-7 d-md-flex d-xl-block col-xl-12 mb-3">
                    <div class="w-100 border text-center">
            
                        <div class="shadow-sm bg-light">
                            <h5 class="p-3 text-success">{{ customer?.company }}</h5>
                        </div>
                        <img class="card-img-top py-3 w-25 m-auto" [src]="customer?.loggo"
                            [alt]="customer?.company" />
            
                        <div class="card-footer col">
                            <div class="div p-3">
                                <a routerLink="/customers/{{ customer?.businessType }}"
                                    class="btn btn-outline-success btn-sm">
                                    <i class="fa fa-location-arrow"></i>
                                    חזור
                                </a>
                                <a *ngIf="! (canAccess | async)"class="btn btn-warning btn-sm" data-toggle="modal" 
                                    data-target=".bd-example-modal-lg" (click)="contactModel(customer) ">
                                    <i class="fa fa-envelope text-success"></i>
            
                                    שלח הודעה</a>
                                <a routerLink="./" class="btn btn-danger btn-sm">גלריה</a>
                                <a routerLink="about" class="btn btn-info btn-sm">אודות</a>
            
                            </div>
                        </div>
                    </div>
                    <div *ngIf="canAccess | async" class="btn-group border mt-2 w-100">
                        <div class="div p-3">
                            <a routerLink="/customers/{{ customer?.businessType }}/{{ customer?.company | strSpliter  }}/create"
                                class="btn btn-primary btn-sm">
                                + צור אירוע
                            </a>
                            <a routerLink="/customers/{{ customer?.businessType }}/{{ customer?.company | strSpliter }}/edit/basic"
                                class="btn btn-danger text-light btn-sm">
                                <i class="fa fa-pencil"></i>
                                ערוך
                            </a>
                        </div>
            
                    </div>
                </div>
            
                <div class="col-sm-12 col-md-5 d-md-flex d-xl-block col-xl-12 text-right mb-3">
                    <div class="card  border border-warning">
                        <div class="card-header bg-warning">
                            <h4 class="card-title text-center text-light">
                                צור קשר
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 border-bottom p-2">
                                    <span class="font-weight-bold text-dark rounded p-1">איש קשר:</span>
                                    {{ customer?.contact }}
                                </div>
                                <div class="col-sm-12 border-bottom p-2">
                                    <span class="font-weight-bold text-dark rounded p-1">טלפון/פלאפון:</span>
                                    {{ customer?.tel }}
                                </div>
                                <div class="col-sm-12 border-bottom p-2">
                                    <span class="font-weight-bold text-dark rounded p-1">כתובת:</span>
                                    {{ customer?.address }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-12 col-md-col-xl-12">
                    <div class="border border-danger text-right">
                        <div class="card-header bg-danger">
                            <h4 class="text-center text-light">
                                {{ customer?.company }}
                                <span class="font-weight-bold text-warning">*מבצעים</span>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-xl-12 border-bottom p-2">
                                    <p>
                                        <span class="font-weight-bold text-danger rounded p-1">*</span>
                                        {{ customer?.deals }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="costum-query-datil col-xs-12 col-xl-8">
                <app-customer-media *ngIf="accessPage" [currentCustomer]="customer"></app-customer-media>
                <router-outlet *ngIf="! accessPage"></router-outlet>
        </div>
</div>
<!-- <app-concat-form></app-concat-form> -->