<app-auth>
  <div class="px-3">
    <h2 class="י4 text-right text-success">צור אדמין</h2>
  </div>

  <form class="p-3" [formGroup]="logInform" (ngSubmit)="onSubmit()">

    <div class="form-group">

      <div class="inputTypeNumber">
        <input name="name" type="text" class="col-11" formControlName="name" placeholder="שם מלא" required minlength="3"
          maxlength="50" />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.name.invalid && f.name.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>


    <div class="form-group">

      <div class="inputTypeNumber">
        <input name="email" type="text" class="col-11" formControlName="email" placeholder="אימייל"
          [pattern]="emailPatt" required />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.email.invalid && f.email.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="form-group">

      <div class="inputTypeNumber">
        <input name="password" type="password" class="col-11" formControlName="password" placeholder="סיסמה"
          [pattern]="passwordPatt" autocomplete required />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.password.invalid && f.password.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="form-group">

      <div class="inputTypeNumber">
        <input name="passwordConfirm" type="password" class="col-11" formControlName="passwordConfirm"
          placeholder="אשר סיסמה" [pattern]="passwordPatt" autocomplete required />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.passwordConfirm.invalid && f.passwordConfirm.touched" class="invalid-feedback d-block">* שדה
        חובה</div>
    </div>

    <div class="form-group">

      <div class="inputTypeNumber">
        <select id="admin_type" class="col-11" formControlName="admin_type" required>
          <option value="" disabled>בחר סוג</option>
          <option value="admin">Admin</option>
          <option value="author">Author</option>
          <option value="Editor">Editor</option>
        </select>

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.admin_type.invalid && f.admin_type.touched" class="invalid-feedback d-block">* בחר אזור מתוך
        הרשימה </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-sm">
        <i class="fa fa-envelope"></i>
        שלח
      </button>
    </div>
  </form>
</app-auth>