<app-blog-template (itemsPost)="blog($event)" [displayNavs]="post"><!-- *ngIf="post$ | async as posts" -->

  <div *ngIf="post" class="blog-post media bg-white rounded">
    <div class="media-header">
      <img [src]="'https://source.unsplash.com/random/120x120'" alt="" class="profil">
    </div>
    <div class="media-body mr-3 text-right">
      <h2 class="blog-post-title"> {{ post.title }} </h2>
      <p class="blog-post-meta">
        <span>{{ post.date | dateHeb:'day' }}</span>
        <a href="#"> {{ post.date | dateHeb:'month' }},</a>
        <a href="#"> {{ post.date | dateHeb:'year' }}</a>
        ע"י
        <a href="#">{{ post.name }}</a>
      </p>
      <p>
         {{ post.body }}
         <a class="mt-3 d-block" routerLink="/articles">חזור לפוסטים</a>
      </p>
      <div class="btn-group text-right ml-3 mb-3 float-left" role="group" aria-label="Basic example">
        <!-- 
          *ngIf="user && user.id == post.user_id"
         -->
        <button type="button" class="btn btn-warning btn-sm" [routerLink]="'/articles/'+post.id+'/update'">ערוך</button><!-- (click)="go(post.id+'/update')" -->
        <button type="button" class="btn btn-danger btn-sm" [routerLink]="post.id+'/delete'">מחק</button>
      </div>
    </div>
</div>
</app-blog-template>