<div *ngIf="itemData" class="card">
    <div class="row no-gutters">
      <div class="col-sm-2 bg-light">
        <div class="text-center p-3">
          <h5 class="card-title">משתמש</h5>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="card-body">
          <h5 class="card-title"> {{ itemData.name }}</h5>
          <ul class="list-group p-0">
            <li class="list-group-item">
              שם: {{ itemData.name }}
            </li>
            <li class="list-group-item">
              אימייל: {{ itemData.email }}
            </li>
            <li class="list-group-item">
              טל: {{ itemData.tel }}
            </li>
            <li class="list-group-item">
               אזור: {{ itemData.area }}
              </li>
            <li class="list-group-item">
              כתובת: {{ itemData.city }}
            </li>
            
            <li *ngIf="itemData.created_at as userDt" class="list-group-item">
              נוצר בתאריך:
              <p>{{ userDt | dateHeb:"full" }}</p>
            </li>
            <li class="list-group-item">
              אודות:
              <p>
                {{ itemData.about }}
              </p>
            </li>
            <li class="list-group-item">
                סטטוס: {{ itemData.confirmed? "מאושר" : "ממתין" }}
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>