<div class="row h-100">
        <div class="col-sm-6">
                <div class="card h-100 border border-success">
                        <div class="card-title bg-success">
                                <h2 class="text-right text-light p-3">אודות אתיופיה אירועים</h2>
                        </div>
                        <div class="pTag text-right">
                                <h5 class="pr-2">שלום רב לכל
                                        <span class="font-weight-bold text-danger">
                                                 אתיופיה אירועים
                                        </span>
                                </h5>
                                <p class="px-2">
                                        צוות אתיופיה אירועים גאים להציג לכם הגולשים את המידע לכל הקשור לאירגון נכון בדרך הנוחה והקלה לכם עם צוות מומחים אשר יסייעו
                                        לכם. אל תשברו את הראש לבד - תנו לנו לעשות זאת למענכם.

                                </p>
                                <p class="px-3 text-secondary">
                                        צוות אתיופיה אירועים, עושה ויעשה הכול על מנת לתת לכם את כל השרות האפשרי, מרגע שאתם חושבים או מחליטים להתחתן ועד לרגע שמסתיימת
                                        החתונה. אצלנו באתר תמצאו את ההדרכה הייחודית לסרג או דירש אמיתי כל הרעיונות לאירגון
                                        חתונה, עם מגוון נותני שרות וספקים הנחוצים לכם מרגע קבלת החלטה להתחתן ועד סיום האירוע
                                        .

                                </p>
                                <p class="px-3 text-secondary">
                                        גם לאחר החתונה הינכם מוזמנים לספר לנו על החתונה או להעלות תמונות מהחתונה שלכם אצלנו באתר. מתוך רצון מתמיד להשתפר ולהתיעל
                                        חשוב שתספרו לנו על ספקים נותני השרות שלנו והתרשמותכם מהשירות שקיבלתם.אנו, צוות אתיופיה
                                        אירועים השתדלנו לתת מידע חיוני ורב ככול האפשר בכל העניין שקשור לחתונה על מנת לחסוך
                                        ולעזור לכם,

                                </p>
                                <p class="px-3 text-secondary">
                                        זמן ומשאבים בחיפוש הצרכים הנחוצים לכם לחתונה או אירוע אחר. אנו כאן רק בשבילכם זוגות צעירים.במקום לשבור את הראש לבד, תנו לנו
                                        לעשות זאת למענכם.הצוות ישמח לעמוד לרשותכם בכל פנייה בכדי לעזור לכם

                                </p>
                                <p class="px-3 text-secondary">
                                        להפיק את האירוע המושלם שלכם.כמו כן אתיופיה אירועים ממשכה לפתח את האתר ונשמח לכל משוב מצידכם.זאת ועוד, בלי מחויבות או תשלום
                                        אלא רק לעזור לכם , כמו גם תוכלו לשתף אותנו בחוויות שלכם בכדי ללמוד ולהעביר מסר גם
                                        לבאים אחריכם.

                                </p>
                                <p class="px-3 text-secondary">

                                        מאחלים לכם המון בהצלחה צוות אתיופיה אירועים
                                </p>

                        </div>
                </div>

        </div>
</div>