<div class="card">
    <div class="row no-gutters">
      <div class="col-sm-2 bg-light">
        <div class="text-center p-3">
          <h5 class="card-title">מאמר</h5>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="card-body">
          <h5 class="card-title">{{ itemData.title }}</h5>
          <ul class="list-group p-0">
            <li class="list-group-item">
              שם: {{ itemData.name }}
            </li>
            <li class="list-group-item">
              פורסם בתאריך:
              <p>{{ itemData.date | dateHeb:"full" }}</p>
            </li>
            <li class="list-group-item">
              אודות:
              <p>
                {{ itemData.body }}
              </p>
            </li>
            <li class="list-group-item">
              סטטוס: {{ itemData.confirmed? "מאושר" : "ממתין" }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>