<div *ngIf="admin$ | async as admin" class="card">
    <div class="row no-gutters">
        <div class="col-sm-2 bg-light">
            <div class="w-75 mr-auto admin p-3 shadow-sm">
                <a class="a-tag" routerLink="/dashboard">
                    <!-- (click)=setTemplateType(main) -->
                    <!-- <div class="bg-white"> -->
                    <!-- style="height: 75px; width:75px;" -->
                    <img class="border rounded-circle" width="100%" height="100%"
                        src="https://source.unsplash.com/random/120x120?count=10" [alt]="admin.name">

                    <!-- </div> -->
                    <span class="text-white bg-secondary d-block text-center">
                        {{ admin.user?.name }}
                    </span>
                </a>
            </div>
            <!-- <hr> -->
            <!-- <div class="text-center p-3">
          <h5 class="card-title">מנהל</h5>
        </div> -->
        </div>

        <div class="col-sm-10">
            <div class="card-body">
                <h5 class="card-title"> {{ admin.user?.name }}</h5>
                <ul class="list-group p-0">
                    <li class="list-group-item">
                        שם: {{ admin.user?.name }}
                    </li>
                    <li class="list-group-item">
                        אימייל: {{ admin.user?.email }}
                    </li>
                    <li *ngIf="admin.user?.created_at as userDt" class="list-group-item">
                        נוצר בתאריך:
                        <p>{{ userDt | dateHebraw:"full" }}</p>
                    </li>
                    <li class="list-group-item">
                        הרשאה:
                        {{ admin.authority?.slug }}
                    </li>
                </ul>
            </div>
        </div>
        <hr class="col-12 p-0 m-0">
        <div class="col-sm-12">
            <form class="p-3" [formGroup]="formSetting" (ngSubmit)="onSubmit()">
                <!-- class="p-3 border border-left rounded" -->
                <!-- change password -->
                <div class="mb-3" id="changePassword" formGroupName="changePassword" #changePassword>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h2 class="h5">שנה סיסמה</h2>
                        </div>
                        <label for="currentPassword1" class="col col-form-label"> סיסמה נוכחי</label>
                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix">
                                <input type="password" name="currentPassword" class="col-11" id="currentPassword1"
                                    formControlName="currentPassword" min="6" max="12" placeholder="(מנימום 6 תווים)"
                                    required>
                                <small id="currentPassword1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="newPassword1" class="col col-form-label">סיסמה חדשה</label>

                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix">
                                <input type="password" name="newPassword" id="newPassword1" class="col-11"
                                    formControlName="newPassword" min="6" max="12" placeholder=" (מנימום 6 תווים)"
                                    required>
                                <small id="newPassword1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConf1" class="col col-form-label">אשר סיסמה</label>
                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix clearfix">
                                <input type="password" name="passwordConf" id="passwordConf1" class="col-11"
                                    formControlName="passwordConf" min="6" max="12" placeholder=" (מנימום 6 תווים)"
                                    required>
                                <small id="passwordConf1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <!-- Submit btn and errors -->
                    <div class="form-group row">
                        <div class="col-sm-12 clearfix">
                            <div class="float-left">
                                <span class="btn btn-outline-success btn-sm" (click)="formSt(changePassword)">
                                    שנה סיסמה
                                </span>
                            </div>
                        </div>
                        <div *ngIf="messages && displayMessages(changePassword)" class="col-12 clearfix">

                            <div *ngFor="let msgs of messages | keyvalue; let idx = index"
                                class="col-sm-9 col-lg-10 float-left">
                                <div class="row">
                                    <p *ngFor="let item of messages[msgs.key] | keyvalue; let idxKey = index"
                                        class="col-6 p-1 mb-1 bg-light">
                                        <b [ngClass]="'text-'+item.value.type" (click)="logItem(item)">
                                            *
                                            {{ msgs.key == "currentPassword"? "סיסמה נוכחית":msgs.key == "newPassword"? "סיסמה חדשה": "אישור סיסמה" }}
                                        </b>
                                        : {{ item.value[msgs.key] || item.value['message']}}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- change email -->
                <div class="mb-3" id="changeEmail" formGroupName="changeEmail" #changeEmail>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h2 class="h5">שנה אימייל</h2>
                        </div>
                        <label for="currentEmail1" class="col col-form-label"> אימייל נוכחי</label>
                        <div class="col-sm-9 col-lg-10">

                            <div class="inputTypeNumber clearfix">
                                <!-- <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div> -->
                                <input type="email" name="currentEmail" class="col-11" id="currentEmail1"
                                    placeholder="פורמט: name10@email.com" formControlName="currentEmail"
                                    [pattern]="emailPatteren" required>
                                <small id="currentEmail1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="newEmail1" class="col col-form-label">אימייל חדש</label>
                        <div class="col-sm-9 col-lg-10 clearfix">
                            <div class="inputTypeNumber clearfix">
                                <input type="email" name="newEmail" id="newEmail1" class="col-11"
                                    [pattern]="emailPatteren" formControlName="newEmail" min="6" max="12"
                                    placeholder="פורמט: name10@email.com" required>
                                <small id="newEmail1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordEmail1" class="col col-form-label">סיסמה</label>

                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix">
                                <input type="password" name="passwordEmail" id="passwordEmail1" class="col-11"
                                    formControlName="passwordEmail" min="6" max="12" placeholder="(מנימום 6 תווים)"
                                    required>
                                <small id="passwordEmail1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <!-- Submit btn and errors -->
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <div class="float-left">
                                <span class="btn btn-outline-success btn-sm" (click)="formSt(changeEmail)">שנה
                                    אימייל</span>
                            </div>
                        </div>
                        <div *ngIf="messages && displayMessages(changeEmail)" class="col-12 clearfix">
                            <div *ngFor="let msgs of messages | keyvalue; let idx = index"
                                class="col-sm-9 col-lg-10 float-left">
                                <div class="row">
                                    <p *ngFor="let item of messages[msgs.key] | keyvalue; let idxKey = index"
                                        class="col-6 p-1 mb-1 bg-light">
                                        <b [ngClass]="'text-'+item.value.type" (click)="logItem(item)">
                                            *
                                            {{ msgs.key == "currentEmail"? "אימייל נוכחי":msgs.key == "newEmail"? "אימייל חדש": "סיסמה" }}
                                        </b>
                                        : {{ item.value[msgs.key] || item.value['message'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- delete account -->
                <div class="mb-3" id="deleteAccount" formGroupName="deleteAccount" #deleteAccount>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h2 class="h5">מחק חשבון</h2>
                        </div>
                        <label for="delAccountEmail1" class="col col-form-label">אימייל</label>
                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix">
                                <input type="email" name="email" class="col-11" id="delAccountEmail1"
                                    [pattern]="emailPatteren" formControlName="delAccountEmail"
                                    placeholder="פורמט: name10@email.com" required>
                                <small id="delAccountEmail1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accountPassword1" class="col col-form-label">סיסמה</label>

                        <div class="col-sm-9 col-lg-10">
                            <div class="inputTypeNumber clearfix">
                                <input type="password" name="password" id="accountPassword1" class="col-11"
                                    formControlName="accountPassword" min="6" max="12" placeholder="(מנימום 6 תווים)"
                                    required>
                                <small id="accountPassword1" class="validity float-left"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col col-form-label">משוב</label>
                        <div class="col-sm-9 col-lg-10">
                            <textarea class="form-control" id="feedback" placeholder="משוב" formControlName="feedback">
                        </textarea>
                        </div>
                    </div>
                    <!-- Submit btn and errors -->
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="float-left">
                                <span class="btn btn-outline-danger btn-sm" (click)="formSt(deleteAccount)">מחק
                                    חשבון</span>
                            </div>
                        </div>
                        <div *ngIf="messages && displayMessages(deleteAccount)" class="col-12 clearfix">

                            <div *ngFor="let msgs of messages | keyvalue; let idx = index"
                                class="col-sm-9 col-lg-10 float-left">
                                <div class="row">
                                    <p *ngFor="let item of messages[msgs.key] | keyvalue; let idxKey = index"
                                        class="col-6 p-1 mb-1 bg-light">
                                        <b [ngClass]="'text-'+item.value.type" (click)="logItem(item)">
                                            *
                                            {{ (msgs.key == "accountPassword")? "סיסמה":(msgs.key == "delAccountEmail")?"אימייל": (msgs.key == "feedback")? "משוב": "error"}}
                                        </b>
                                        : {{ item.value[msgs.key] || item.value['message']}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>