<div *ngIf="admin$ | async as admin" class="card">
    <div class="row no-gutters">
        <div class="col-sm-2 bg-light">
            <div class="w-75 mr-auto admin p-3 shadow-sm">
                <a class="a-tag" routerLink="/dashboard">
                    <!-- (click)=setTemplateType(main) -->
                    <!-- <div class="bg-white"> -->
                    <!-- style="height: 75px; width:75px;" -->
                    <img class="border rounded-circle" width="100%" height="100%" [src]="admin.user.avatar"
                        [alt]="admin.name">

                    <!-- </div> -->
                    <span class="text-white bg-secondary d-block text-center">
                        {{ admin.user?.name }}
                    </span>
                </a>
            </div>
            <!-- <hr> -->
            <!-- <div class="text-center p-3">
          <h5 class="card-title">מנהל</h5>
        </div> -->
        </div>

        <div class="col-sm-10">
            <div class="card-body">
                <h5 class="card-title"> {{ admin.user?.name }}</h5>
                <ul class="list-group p-0">
                    <li class="list-group-item">
                        שם: {{ admin.user?.name }}
                    </li>
                    <li class="list-group-item">
                        אימייל: {{ admin.user?.email }}
                    </li>
                    <li *ngIf="admin.user?.created_at as userDt" class="list-group-item">
                        נוצר בתאריך:
                        <p>{{ userDt | dateHeb:"full" }}</p>
                    </li>
                    <li class="list-group-item">
                        הרשאה:
                        {{ admin.authority?.slug }}
                    </li>
                </ul>
            </div>
        </div>
        <hr class="col-12 p-0 m-0">
        <div class="col-sm-12">
            <app-user-setting [admin]="admin"></app-user-setting>
            
        </div>
    </div>
</div>