<div *ngIf="itemForm$ | async as formItems" class="col-12 text-right">
  <div class="border rounded p-3">
    <form class="form-row p-3 border rounded" [formGroup]="formGr" (ngSubmit)="onSubmit()">
      <div class="form-group col-sm-12">
        <h5 class="shadow-sm py-2 text-black-50 h4">

          <i class="fa fa-message text-secondary"></i>
          ערוך מאמר\פוסט
        </h5>
      </div>
      <div class="form-group col-md-6">
        <label for="name" class="form-control-label">
          שם:
        </label>
        <input class="form-control" formControlName="name" type="text">
      </div>
      <div class="form-group col-md-6">
        <label for="date" class="form-control-label">
          תאריך:
        </label>
        <input class="form-control" id="date" formControlName="date" type="text">
      </div>
      <div class="form-group col-md-12">
        <label for="title" class="form-control-label">
          נושא:
        </label>
        <input class="form-control" id="title" formControlName="title" type="title">
      </div>
      <div class="form-group col-md-12">
        <label for="body" class="form-control-label">
          תיאור\הודעה:
        </label>
        <!-- <textarea [froalaEditor]>sssss</textarea> -->
        <textarea class="form-control" id="body" [froalaEditor] formControlName="body" type="text" rows="8" [(froalaModel)]="f.body.value"></textarea>
      </div>

      <div class="form-group col-2 custom-control custom-checkbox">
        <input [id]="confirmed" class="custom-control-input" type="checkbox" [checked]="f.confirmed.value">

        <label [for]="confirmed" class="custom-control-label">
          סטטוס:
          {{ f.confirmed.value? "סרב": "אשר" }}
        </label>
      </div>
      <div class="col-sm-12 clearfix">
          <!-- <span class="btn btn-light btn-sm" (click)="initForm(false, tableCustomers)"> -->
          <span class="border border-success rounded p-1 costum-btn costum-btn-success" routerLink="../">
              <i class="material-icons pr-1"> chevron_right </i>
              <i class="mt-icons pl-2"> חזור </i>
          </span>

          <!-- </span> -->
          <button class="btn btn-success btn-sm float-left" type="submit">עדכן</button>
      </div>
    </form>
  </div>
</div>
