<dashboard-model [modelProps]="mdProps">

  <form class="p-3 form-row" [formGroup]="userCreate" (ngSubmit)="onSubmit()">

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="name" type="text" class="w-100 bd-highlightpx-1" formControlName="name" placeholder="שם מלא" required minlength="3" maxlength="50" />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.name.invalid && f.name.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="city" type="text" class="w-100 bd-highlightpx-1" formControlName="city" placeholder="עיר מגורים" required minlength="3" maxlength="50" />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.city.invalid && f.city.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>


    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="email" type="text" class="w-100 bd-highlightpx-1" formControlName="email" placeholder="אימייל" [pattern]="emailPatt" required
        />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.email.invalid && f.email.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="password" type="password" class="w-100 bd-highlightpx-1" formControlName="password" placeholder="סיסמה" [pattern]="passwordPatt"
          autocomplete required />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.password.invalid && f.password.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="passwordConfirm" type="password" class="w-100 bd-highlightpx-1" formControlName="passwordConfirm" placeholder="אשר סיסמה" [pattern]="passwordPatt"
          autocomplete required />

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.passwordConfirm.invalid && f.passwordConfirm.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <select id="area" class="w-100 bd-highlightpx-1" formControlName="area" required>
          <option value="" selected disabled>אזור</option>
          <option value="צפון">צפון</option>
          <option value="מרכז והשפלה">מרכז והשפלה</option>
          <option value="דרום">דרום</option>
        </select>

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.area.invalid && f.area.touched" class="invalid-feedback d-block">* בחר אזור מתוך הרשימה </div>
    </div>

    <div class="col-6 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight">
        <input name="tel" type="text" class="w-100 bd-highlightpx-1" formControlName="tel" placeholder="טלפון/פלאפון"  required
        /><!-- [pattern]="phoneNum" -->

        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.tel.invalid && f.tel.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>


    <div class="col-12 pb-3">

      <div class="inputTypeNumber mb-2 d-flex bd-highlight textarea">
        <textarea class="w-100 bd-highlightpx-1" type="text" name="title" id="about" formControlName="about" required minlength="12" placeholder="הוסף הודעה">
            
            </textarea>
        <span class="validity float-left"></span>
      </div>
      <div *ngIf="f.about.invalid && f.about.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success btn-sm">
        <i class="fa fa-envelope"></i>
        שלח
      </button>
    </div>
  </form>
</dashboard-model>