<div class="card">
    <div class="row no-gutters">
      <div class="card-header">
        <div>
          <h5 class="card-title">אירוע</h5>
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">אירוע {{ itemData.eventType | eventType}}</h5>
          <ul class="list-group p-0">
            <li class="list-group-item">
              שם: {{ itemData.name }}
            </li>
            <li class="list-group-item">
              אימייל: {{ itemData.email }}
            </li>
            <li class="list-group-item">
              טל: {{ itemData.phone }}
            </li>
            <li class="list-group-item">
              כתובת: {{ itemData.address }}
            </li>
            <li class="list-group-item">
              סוג האירוע: {{ itemData.eventType | eventType }}
            </li>
            <li class="list-group-item">
              תאריך האירוע:
              <p>{{ itemData.date | dateHebraw:"full" }}</p>
            </li>
            <li class="list-group-item">
              אודות:
              <p>
                {{ itemData.description }}
              </p>
            </li>
            <li class="list-group-item">
              סטטוס: {{ itemData.confirmed? "מאושר" : "ממתין" }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>