<div class="row h-100">
        <div class="col-sm-6">
                <div class="card h-100 border border-success">
                        <div class="card-title bg-success">
                                <h2 class="text-right text-light p-3"> מטרת צוות אתיופיה אירועים</h2>
                        </div>
                        <div class="pTag text-right">
                                <h5 class="pr-2">
                                                אנו  
                                        <span class="font-weight-bold text-danger">
                                                באתיופיה אירועים
                                        </span>
                                        רוצים שינוי
                                </h5>
                                <p class="px-2">
                                        כמה פעמים קרה לך שהחבר/ה הכי טוב שלך מתחתן ולא תוכל להיות בחתונתו מהסיבה שחבר או קרוב משפחה אחר מתחתן באותו יום ???

                                        מצב זה נוצר מהסיבה שאנו בעדה עורכים את החתונות בדרך כלל בימי חמישי ודי קשה לתאם בין כל הזוגות ברחבי הארץ.
                                        
                                        לא חבל שחבר הכי טוב שלך מתחתן ולא תוכל להיות כי חבר או קרוב משפחה אחר מתחתן באותו יום, והכי מעצבן שהם באותו עיר?
                                </p>
                                <p class="px-3 text-secondary">
                                        אנו באתיופיה אירועים חושבים ומאמינים שאפשר לשנות את המצב הקיים, שבאותו היום נערכים במקביל מספר אירועים של קרובי משפחה בכל הארץ.

היום בעידן האינטרנט ושלא כמו בעבר, ניתן לקשר בקלות בין כלל האוכלוסייה ובין בני הקהילה בפרט ובכך להימנע מקביעת תאריך חתונה שבו מתחתן
בן משפחה נוסף.
                                </p>
                                <p class="px-3 text-secondary">
                                        אין ספק שאנו העדה המבורכת במינה, במיוחד כאשר מדובר באחדות ושמחה .
                                        לדעתנו אין עוד עדה אחרת שיש לה סימפטיה לשמח מהלב או לתמוך בצער,כמו העדה שלנו וזו זכות שקיבלנו וחונכנו לכך.
                                        
                                        צוות אתיופיה אירועים רואים זאת כשליחות עבורכם,  ואנו בתקווה שבעזרתכם נצליח למנוע או לכל הפחות לצמצם את כמות האירועים שנעשים במקביל,
                                        וזאת על מנת להעניק לאורחים נוחות וראש שקט ביום האירוע.
                                </p>
                                <p class="px-3 text-secondary">
                                        המטרה של צוות אתיופיה אירועים הינו,ביחד איתכם היא לעשות את השינוי ולנסות למנוע מצב שבו יתקיימו אירועים במקביל באותו היום, לפחות לא באותה
                                        העיר ואנו מאמינים שבעזרתכם הדבר אפשרי.
                                        
                                        מטרה נוספת  היא לתת לכם הזוג הצעיר טיפים ורשימת בעלי מקצוע מומלצים לחתונות, ביניהם אולמות, צלמים, תקליטנים, זיקוקים ועוד, זאת על מנת
                                        להקל עליכם במציאת נותני שירות מקצועיים ובעלי ניסיון עשיר באירועים של בני העדה.
                                </p>
                                <p class="px-3 text-secondary">
                                        להפיק את האירוע המושלם שלכם.כמו כן אתיופיה אירועים ממשכה לפתח את האתר ונשמח לכל משוב מצידכם.זאת ועוד, בלי מחויבות או תשלום
                                        אלא רק לעזור לכם , כמו גם תוכלו לשתף אותנו בחוויות שלכם בכדי ללמוד ולהעביר מסר גם
                                        לבאים אחריכם.

                                </p>
                                <p class="px-3 text-secondary">
                                        ניתן לפנות ישירות לבעל המקצוע ולציין שהגעתם דרך האתר.
                                        כמו כן ניתן לפנות אלינו במייל בכל שאלה או יעוץ שאתם מעוניינים לקבל לגבי נותני השירות.
                                        
                                </p>
                                <p class="px-3 text-secondry">
                                        <span class="text-success font-weight-bold">
                                                בואו להגשים איתנו את המטרה ולהקל על אותם אנשים שרוצים רק לשמח ולשמוח.
                                        </span>
                                </p>
                                <p class="px-3 text-center">
                                        <span class="text-danger font-weight-bold h3 py-3 text-center position-relative">
                                                אז שיהיה בהצלחה והמון מזל טוב !
                                        </span>
                                </p>
                        </div>
                </div>

        </div>
</div>