<!-- <router-outlet></router-outlet> -->

<dashboard-model [modelProps]='mdProps'>
  <div class="px-3">
    <h2 class="h4 text-right text-success">צור פוסט</h2>
  </div>


  <form *ngIf="postCreate" class="p-3 form-row border rounded" [formGroup]="postCreate" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-12">
      <label for="title" class="form-control-label">
        נושא:
      </label>
      <input class="form-control" formControlName="title" type="text">
    </div>
    <div class="form-group col-md-12">
      <label for="subject" class="form-control-label">
        תוכן:
      </label>
      <textarea class="form-control" formControlName="body" type="text" rows="8"></textarea>
    </div>
    <div class="form-group col-md-12">
      <button class="btn btn-success btn-sm" type="submit">שלח</button>
    </div>
  </form>
</dashboard-model>