<main class="main" role="main">
    <!-- <img src="../assets/pages/image2.jpg" alt="img"> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- <div class="first-slide"></div> -->
                <img class="img-fluid first-slide" src="./assets/pages/home/carousel/event.jpg" alt="first-slide">

                <div class="container">
                    <div class="carousel-caption w-25 mx-auto">

                        <div class="bg-light p-2 rounded text-right clearfix">
                            <h2 class="h5 text-light bg-success p-2 text-right">הצטרף לאינדקס</h2>
                            <p class="text-secondary text-right pr-2">
                                צוות אתיופיה אירועים חוסך לכם זמן ומשאבים הצטרפו לאינדקס בקליק מכל מקום. הרשמו עם כל
                                הפרטים של העסק ,לאחר בירור פרטים של הצוות ,העסק שלכם אוליין!
                            </p>
                            <a routerLink="/join" class="btn btn-xs float-left btn-primary" href="#" role="button">הצטרף
                                לאינקס עכשיו!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <!-- <div class="first-slide"></div> -->
                <img class="img-fluid first-slide" src="./assets/pages/home/carousel/flawer.jpg" alt="first-slide">

                <div class="container">
                    <div class="carousel-caption w-25 mx-auto">
                        <h1 class="h4 bg-success p-2 rounded text-right">יומן אירועים <small class="text-light">חפש וקבל
                                מידע על אירועים בקהילה.</small></h1>
                        <div class="bg-light p-2 rounded text-right clearfix">
                            <h2 class="h5 text-light bg-success p-2 text-right">יש לך אירוע?</h2>

                            <ul class="text-secondary" style="list-style-position:inside">
                                <li>קבל מידע לגבי תפוסת התאריך ונותני השרות.</li>
                                <li>שריין את התאריך ע"י הכנסת המידע למערכת.</li>
                                <li>שתף את חברייך ומכרייך.</li>
                            </ul>
                            <a routerLink="/יומן-אירועים" class="btn btn-xs float-left btn-primary" href="#"
                                role="button">יומן אירועים</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <!-- <div class="second-slide"></div> -->
                <img class="img-fluid second-slide" src="./assets/pages/home/carousel/event0.jpg" alt="second-slide">
                <div class="container">
                    <div class="carousel-caption w-25 mx-auto">

                        <div class="bg-light p-2 rounded text-right clearfix">
                            <h2 class="h5 text-light bg-success p-2 text-right">חבילות ומבצעים</h2>
                            <h4 class="text-secondary text-right pr-2">
                                חבילות ומבצעים במקום אחד
                            </h4>
                            <p class="text-secondary text-right pr-2">
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס
                                לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח
                            </p>
                            <a class="btn btn-xs float-left btn-primary" href="#" role="button">עוד פרטים</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <div class="third-slide"> </div> -->
                <img class="img-fluid third-slide" src="./assets/pages/home/carousel/event3.jpg" alt="third-slide">
                <div class="container">
                    <div class="carousel-caption w-25 mx-auto">
                        <div class="bg-light p-2 rounded text-right clearfix">
                            <h2 class="h5 text-light bg-success p-2 text-right">לורם איפסום.</h2>
                            <p class="text-secondary text-right pr-2">
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס
                                לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח
                            </p>
                            <a class="btn btn-xs float-left btn-primary" href="#" role="button">גלריה</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <div class="third-slide"> </div> -->
                <img class="img-fluid forth-slide" src="./assets/pages/home/carousel/event5.png" alt="forth-slide">
                <div class="container">
                    <div class="carousel-caption w-25 mx-auto">

                        <div class="bg-light p-2 rounded text-right clearfix">
                            <h2 class="h5 text-light bg-success p-2 text-right">לורם איפסום.</h2>
                            <p class="text-secondary text-right pr-2">
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס
                                לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח
                            </p>
                            <a class="btn btn-xs float-left btn-primary" href="#" role="button">
                                צור קשר
                                <i class="material-icons alingn-self-center">
                                    contact_mail
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing mt-5">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <div style="width: 140px;height: 140px" class="rounded-circle p-2 shadow-lg">
                    <img class="rounded-circle img-responsive border border-secomdary" src="./assets/pages/customers/djs/shlomi/shlomi.jpg"
                        height="98%" width="98%" alt="img1">
                </div>
                <div class="market-text">
                    <h2>לורם איפסום</h2>
                    <p class="shadow-lg p-3 mb-5 bg-white rounded">
                        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו,
                        דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
                    </p>
                    <p>
                        <a class="btn btn-success" href="#" role="button">
                            הצג מידע נוסף
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div style="width: 140px;height: 140px" class="rounded-circle p-2 shadow-lg">
                    <img class="rounded-circle border border-secomdary" src="./assets/pages/customers/djs/yoni/yoni.jpg" height="98%"
                        width="98%" alt="img1">
                </div>
                <div class="market-text">
                    <h2>לורם איפסום</h2>
                    <p class="shadow-lg p-3 mb-5 bg-white rounded">
                        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו,
                        דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
                    </p>
                    <p>
                        <a class="btn btn-warning" href="#" role="button">
                            הצג מידע נוסף
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div style="width: 140px;height: 140px" class="rounded-circle p-2 shadow-lg">
                    <img class="rounded-circle border border-secomdary" src="./assets/pages/customers/djs/gili/gili.jpg" height="98%"
                        width="98%" alt="img1">
                </div>
                <div class="market-text">
                    <h2>לורם איפסום</h2>
                    <p class="shadow-lg p-3 mb-5 bg-white rounded">
                        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו,
                        דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
                    </p>
                    <p>
                        <a class="btn btn-danger" href="#" role="button">
                            הצג מידע נוסף
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 costum-effect1">
                <h2 class="featurette-heading">First featurette heading.
                    <span class="text-muted">It'll blow your mind.</span>
                </h2>
                <p class="lead shadow-lg p-3 mb-5 bg-white">Donec ullamcorper nulla non metus auctor fringilla.
                    Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 costum-effect2">
                <div style="height: 500px;background-color: gray">
                    <img class="img-fluid" src="./assets/pages/home/marketing/img_01.jpg" alt="img_01">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 costum-effect3 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good.
                    <span class="text-muted">See for yourself.</span>
                </h2>
                <p class="lead shadow-lg p-3 mb-5 bg-white">Donec ullamcorper nulla non metus auctor fringilla.
                    Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 costum-effect4 order-md-1">
                <div style="height: 500px;background-color: gray">
                    <img class="img-fluid" src="./assets/pages/home/marketing/img_04.jpg" alt="img1">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 costum-effect5">
                <h2 class="featurette-heading">And lastly, this one.
                    <span class="text-muted">Checkmate.</span>
                </h2>
                <p class="lead shadow-lg p-3 mb-5 bg-white">Donec ullamcorper nulla non metus auctor fringilla.
                    Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 costum-effect6">
                <div style="height: 500px;background-color: gray">
                    <img class="img-fluid" src="./assets/pages/home/marketing/img_03.jpg" alt="img_03">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
    <!-- /.container -->


    <!-- FOOTER -->
</main>