<ng-template #default>
  Loading...
</ng-template>

<div class="text-right row" *ngIf="(itemsResources$  | async )?.users as users">
  <div class="col-sm-12 mb-3">
    <div class="shadow-sm p-1">
      <div class="bg-light p-3 clearfix d-flex bd-highlight align-items-center">
        משתמשים
        <span class="btn btn-success btn-sm mr-auto p-2 bd-highlight"
          (click)="create('/dashboard/users-views/create')">צור משתמש
          חדש</span>
      </div>
    </div>
  </div>

  <div *ngIf="users && users.pending.length" class="col-sm-12">
    <app-pending [itemsLists]="users"></app-pending>
  </div>
  <div class="col-sm-12">
    <ng-container *ngTemplateOutlet="tempType; context:{elem: users}"></ng-container>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tableusers let-resource="elem">

  <div class="border p-3">
    <table class="table">
      <ng-container [ngTemplateOutlet]="usersTable" [ngTemplateOutletContext]="{res:resource}">
      </ng-container>
    </table>
    <hr>
    <div class="text-center mt-3 bg-light p-2 border rounded clearfix">
      <pagination-template #p="paginationApi" [id]="resource.config.id"
        (pageChange)="resource.config.currentPage = $event">

        <div class="custom-pagination float-right">
          <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <i *ngIf="!p.isFirstPage()" (click)="p.previous()" class="fa fa-angle-double-right"></i>
          </div>
          <div class="page-number bg-white border" *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value">

            <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
          </div>
          <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <i *ngIf="!p.isLastPage()" (click)="p.next()" class="fa fa-angle-double-left"></i>
          </div>
        </div>
      </pagination-template>
    </div>
  </div>
</ng-template>

<!-- users Table -->
<ng-template #usersTable let-usersData="res">

  <thead class="thead-dark text-right">
    <tr>
      <th scope="col">שם</th>
      <!-- <th scope="col">אימייל</th> -->
      <th scope="col">אימייל</th>
      <th scope="col">נוצר בתאריך</th>
      <th scope="col">סטטוס</th>
      <th><span class="border-primary">הצג</span></th>
      <th><span class="border-warning">ערוך</span></th>
      <th><span class="border-danger">מחק</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersData.data | paginate: usersData.config; let idx = index">
      <th scope="row">{{user.name}}</th>
      <td>{{user.email}} </td>
      <td>
        <small class="text-muted">
          {{ user.created_at  | dateHebraw:'full' }}
        </small>
      </td>
      <td class="text-success">פעיל</td>
      <td><a class="btn btn-primary btn-sm" [routerLink]="user.id">הצג</a></td>
      <td><a class="btn btn-outline-danger btn-sm" (click)="edit('/dashboard/users-views/'+user.id+'/edit')">ערוך</a>
        <!--  [routerLink]="user.id+'/edit'" -->
      </td>
      <td><a class="btn btn-danger btn-sm" (click)="destroy(user)">מחק</a></td>
    </tr>
  </tbody>
</ng-template>

<ng-template #checkBox let-itemObj="elem">
  <div class="custom-control custom-checkbox">
    <input [id]="itemObj.name+itemObj.id" class="custom-control-input" type="checkbox" [checked]="itemObj.confirmed">

    <label [for]="itemObj.name+itemObj.id" class="custom-control-label">
      {{ itemObj.confirmed? "סרב": "אשר" }}
    </label>
  </div>
</ng-template>

<ng-template #viewOrEdit let-itemObj="elem" let-inputType="input" let-inputId="inputId">

  <label [for]="inputId" class="w-100 col-form-label">

    <a class="text-primary float-right link" (click)="editIem(inputId)">
      {{ itemObj[inputType].trim().length > 15? 'ערוך או הצג תוכן': 'ערוך' }}
    </a>
  </label>
  <textarea class="form-control text-break hide" name="body" [id]="inputId">
          {{ itemObj[inputType].trim() }}
    </textarea>
</ng-template>

<ng-template #usersForm>

  <form class="form-row p-3 border rounded" [formGroup]="formGr" (ngSubmit)="onSubmit()">
    <div class="form-group col-sm-12">
      <h5 class="shadow-sm py-2 text-black-50 h4">

        <i class="fa fa-message text-secondary"></i>
        ערוך משתמשים
      </h5>
    </div>
    <div class="form-group col-md-6">
      <label for="name" class="form-control-label">
        שם:
      </label>
      <input class="form-control" formControlName="name" type="text">
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="form-control-label">
        אימייל:
      </label>
      <input class="form-control" id="email" formControlName="email" type="text">
    </div>
    <div class="form-group col-md-6">
      <label for="city" class="form-control-label">
        עיר:
      </label>
      <input class="form-control" id="city" formControlName="city" type="text">
    </div>

    <div class="form-group col-md-6">
      <label for="tel" class="form-control-label">
        טל:
      </label>
      <input class="form-control" id="tel" formControlName="tel" type="text">
    </div>

    <div class="form-group col-md-12">
      <label for="area" class="form-control-label">
        אזור:
      </label>
      <select id="area" class="form-control" formControlName="area">
        <!-- [value]="f.area.value" -->
        <option disabled>אזור</option>
        <option [selected]="f.area.value"> {{ f.area.value }}</option>
        <option value="צפון">צפון</option>
        <option value="מרכז">מרכז והשפלה</option>
        <option value="דרום">דרום</option>
      </select>
    </div>

    <div class="form-group col-md-12">
      <label for="about" class="form-control-label">
        תיאור\אודות:
      </label>
      <textarea class="form-control" id="about" formControlName="about" type="text" rows="8"></textarea>
    </div>

    <div class="form-group col-sm-12 clearfix">
      <a class="btn btn-link" (click)="initForm(false, tableusers)">
        חזור
      </a>
      <button class="btn btn-success btn-sm float-left" type="submit">עדכן</button>
    </div>
  </form>
</ng-template>