<div class="row text-right">
  <div class="col-sm-12">
      
    <div class="shadow-sm border-top">

      <div class="p-3 d-flex justify-content-between">

        <!-- <a routerLinkActive="active" routerLink="#"
            class="googleFont ml-1 py-1 px-2 border rounded text-center">
            אבטחה
            <i class="material-icons">
              security
            </i>
          </a> -->
        
        <div class="my-nav">

          <a routerLinkActive="active" routerLink="./" class="btn btn-link ml-1 btn-sm">
            הגדרות
            <i class="material-icons">
              verified_user
              </i>
          </a>

          <a routerLinkActive="active" routerLink="roles" class="btn btn-link ml-1 btn-sm">
            ניהול הרשאות
            <i class="material-icons">add</i>
          </a>
          <a routerLinkActive="active" routerLink="preferences" class="btn btn-link btn-sm">
            דשבורד העדפות
            <i class="material-icons">
              settings_applications
              </i>
          </a>
        </div>
        <div class="other-nav">

          <a routerLinkActive="active" class="btn btn-primary" (click)="create('/dashboard/admins-views/create')"
            class="btn btn-link ml-1 btn-sm">
            <span>
              צור אדמין חדש
              <i class="material-icons">
                create
              </i>
            </span>
          </a>
          <a routerLinkActive="active" class="btn btn-link btn-sm" (click)="destroy()">
            הסר חשבון
            <i class="material-icons text-danger">
              delete_forever
            </i>
          </a>

        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>