<!--  d-none d-md-block d-lg-none -->
<aside class="h-100 position-relative bg-success rounded rounded-right-warning">
      <!-- class="col-sm-2" -->
            <div class="text-light p-2 d-none d-md-block border-bottom border-warning">
                  <h1 class="h4 text-right">בעלי מקצוע</h1>
            </div>

            <ul class="p-0 m-0 text-right d-flex flex-sm-column justify-content-around">

                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="lead" routerLink="customers/halls-events">אולם אירועים</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/halls-events">
                              <i class="fa fa-simplybuilt"></i>
                        </a>
                  </li>

                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/salons">סלון כלות</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">

                        <a routerLink="customers/salons">
                              <i class="material-icons">
                                    looks
                              </i>
                        </a>
                  </li>

                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/djs">די-ג'י</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/djs">
                              <i class="fa fa-music"></i>
                        </a>
                  </li>

                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/photographers">צלמים</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/photographers">
                              <i class="material-icons">
                                    videocam
                              </i>
                        </a>
                  </li>
                  
                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/hotels">בתי מלון וצימרים</a>
                  </li>
                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/hotels">
                              <i class="fa fa-building"></i>
                        </a>
                  </li>
                  
                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/printing">בתי דפוס</a>
                  </li>
                  
                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/printing">
                              <i class="material-icons">
                                    print
                              </i>
                        </a>
                  </li>
                  
                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/transports">הסעות</a>
                  </li>
                  
                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a class="" routerLink="customers/transports">
                              <i class="material-icons">
                                    airport_shuttle
                              </i>
                        </a>
                  </li>
                  
                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/fireworks">זיקוקים ואטרקציות</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/fireworks">
                              <i class="material-icons">
                                    star_border
                              </i>
                        </a>

                  </li>
                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/car-rents">השכרת רכב</a>
                  </li>

                  <li class="d-block d-xl-none text-center" routerLinkActive="active">

                        <a routerLink="customers/car-rents">
                              <i class="fa fa-car"></i>
                        </a>
                  </li>


                  <li class="list-group-item d-none d-xl-block" routerLinkActive="active">
                        <a class="lead" routerLink="customers/kyses">קייסים/רבנות</a>
                  </li>
                  <li class="d-block d-xl-none text-center" routerLinkActive="active">
                        <a routerLink="customers/kyses">
                              <i class="fa fa-certificate"></i>


                        </a>
                  </li>
                  <li class="list-group-item d-none d-xl-block">
                        <hr>
                        <a class="disable"> שונות</a>
                        <hr>
                  </li>
            </ul>


</aside>
<!-- <img class="rounded-circle" src="https://source.unsplash.com/random/70x70" alt="unsplash"> -->