<div *ngIf="params" class="row">
  <div [id]="params.id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div [class]="params.modelSize+' modal-dialog text-right'">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ params.title }}</h5>
          <button type="button" class="close m-0 float-left" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-content></ng-content>
        </div>

      </div>
    </div>
  </div>
</div>