<div class="shadow-sm p-1 mb-3">
  <div class="bg-light p-3 clearfix d-flex bd-highlight align-items-center">צור אירוע</div>
</div>
<form [formGroup]="eventCreate" class="p-3 border rounded" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="input">
        <input id="date" formControlName="date" type="text" autocomplete="off" (click)="fire(date)"
          (keyup)="(f.date.valid)?daily(date.value):''" placeholder="בחר תאריך" [pattern]="datePattern" #date>

        <label class="m-0 p-1 float-left" for="date">
          <i class="material-icons">date_range</i>
        </label>
      </div>

      <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: date, itemMethod: formMethod}">
      </ng-container>
    </div>
    <div class="form-group col-md-6">
      <label for="name">שם</label>
      <input type="text" id="name" class="form-control" formControlName="name" #name>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: name, itemMethod: formMethod}">
      </ng-container>

      <div *ngIf="f.name.invalid && f.name.touched" class="invalid-feedback d-block">* שדה חובה</div>
    </div>
    <div class="form-group d-block col-md-6">
      <!-- (change)="selectedText(select)" -->
      <label for="eventType">אירוע</label>
      <select name="eventType" id="eventType" formControlName="eventType" class="form-control"
        (change)="toggleHidden(select, other)" #select>

        <option value="" [selected]="true" disabled>סוג האירוע</option>
        <option value="wedding">חתונה</option>
        <option value="bar-mitzvah">בר/בת מצווה</option>
        <option value="hina">חינה</option>
        <option value="other">אחר</option>
      </select>
      <!-- <span class="validity float-left"></span> -->
      <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: select, itemMethod: formMethod}">
      </ng-container>
    </div>

    <div class="form-group col-md-6 d-none">
      <label for="other" [ngClass]="other.hidden? 'd-none':'d-block'">סוג
        אירוע אחר
        <span class="btn btn-link btn-sm text-success" (click)="toggleHidden(other, select)">בחר
          מרשימה</span>
      </label>
      <input type="text" id="other" formControlName="other" hidden class="form-control" #other>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{ elem: other, itemMethod: formMethod }">
      </ng-container>
    </div>

    <div class="form-group col-md-6">
      <label for="location">עיר/מיקום</label>
      <input type="text" id="location" class="form-control" formControlName="location" #location>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{ elem: location, itemMethod: formMethod }">
      </ng-container>
    </div>

    <div class="form-group col-md-6">
      <label for="address">כתובת</label>
      <input type="text" id="address" class="form-control" formControlName="address" #address>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{ elem: address, itemMethod: formMethod }">
      </ng-container>
    </div>
    <div class="form-group col-md-6">
      <label for="email">אימייל</label>
      <input type="email" id="email" class="form-control" formControlName="email" [pattern]="emailPatteren" #email>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{ elem: email, itemMethod: formMethod }">
      </ng-container>
    </div>

    <div class="form-group col-md-6">
      <label for="phone">טלפון/פלאפון</label>
      <input type="tel" id="phone" class="form-control" formControlName="phone" [pattern]="phoneNum" #phone>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: phone, itemMethod: formMethod}">
      </ng-container>
    </div>

    <div class="form-group col-md-12">
      <textarea class="form-control" id="descriptions" formControlName="descriptions" rows="3" placeholder="הוסף הודעה"
        #descriptions></textarea>
      <ng-container *ngTemplateOutlet="clickedMethods; context:{elem: descriptions, itemMethod: formMethod}">
      </ng-container>
    </div>

    <div *ngIf="messages && messages['violation']" class="bg-light p-1 ml-1">
      <div *ngFor="let message of messages['violation']; let idx = index" class="bg-light p-1 m-1 d-block">

        <p *ngFor="let item of messages['violation'][idx] | keyvalue; let key = index">
          <b [ngClass]="'text-danger'">*
            {{ item.key+': ' }}
          </b>
          {{ item.value }}
        </p>
      </div>
    </div>

    <div class="form-group col-sm-12 text-light bg-light">
      <button class="btn btn-success btn-sm" type="submit">{{ formMethod == 'update'? 'עדכן הכל':'צור אירוע'}}
      </button>
      <a class="btn btn-warning btn-sm" (click)="reset()">אפס</a>
      <a class="btn btn-danger btn-sm" (click)="close()">בטל וסגור</a>
      <a *ngIf="formMethod == 'update'" class="btn btn-info btn-sm" (click)="allTodefault()">שחזר ברירת
        מחדל</a>
    </div>
  </div>
</form>

<!-- </dashboard-model> -->

<ng-template #clickedMethods let-elem="elem" let-itemValue="itemValue" let-itemMethod="itemMethod">

  <div class="mt-1">
    <a *ngIf="itemMethod == 'update'" class="ml-1 px-2 py-2 my-2 border rounded text-center active"
      (click)="update(elem)">
      <span>
        עדכן
        <i class="material-icons text-success">
          update
        </i>
      </span>
    </a>
    <a *ngIf="elem.value" class="ml-1 px-2 py-2 my-2 border rounded text-center active" (click)="inputReset(elem)">
      <span>
        נקה
        <i class="material-icons text-warning">
          clear
        </i>
      </span>
    </a>
    <a *ngIf="itemMethod == 'update'" class="ml-1 px-2 py-2 my-2 border rounded text-center active"
      (click)="default(elem)">
      <span>
        מקור
        <i class="material-icons text-primary">
          redo
        </i>
      </span>
    </a>
  </div>

  <div *ngIf="messages && messages[elem.id]" class="bg-light p-1 ml-1">
    <p *ngFor="let message of messages[elem.id]" class="bg-light p-1 m-1 d-block">
      <span *ngIf="message['message']">
        <b [ngClass]="message['type']? 'text-danger': 'text-warning'">*</b>
        {{ message['message']  }}
      </span>
    </p>
  </div>
</ng-template>