<!-- header edite -->
<div *ngIf="admins" class="row text-right">
  <div class="col-sm-12">
    <div class="shadow-sm">

      <div class="p-3 clearfix">
        <a routerLinkActive="active" routerLink="#"
          class="googleFont ml-1 py-1 px-2 border rounded text-center float-right">
          אדמנים
          <i class="material-icons">supervisor_account</i>
        </a>
        <a routerLinkActive="active" routerLink="#"
          class="googleFont ml-1 py-1 px-2 border rounded text-center float-right">
          אבטחה
          <i class="material-icons">
            security
          </i>
        </a>

        <a routerLinkActive="active" routerLink="#"
          class="googleFont ml-1 py-1 px-2 border rounded text-center float-right">
          פרופיל
          <i class="material-icons">select_all</i>
        </a>

        <a routerLinkActive="active" routerLink="#"
          class="googleFont ml-1 py-1 px-2 border rounded text-center float-right">
          ניהול הרשאות
          <i class="material-icons">add</i>
        </a>

        <a routerLinkActive="active" (click)="destroy()"
          class="googleFont py-1 px-2 border rounded text-center float-left">
          הסר חשבון
          <i class="material-icons text-danger">
            delete_forever
          </i>
        </a>

        <a routerLinkActive="active" class="btn btn-primary" (click)="create('/dashboard/admins-views/create')"
          class="googleFont py-1 px-2 border rounded text-center float-left">
          <span>
            צור אדמין חדש
            <i class="material-icons">
              create
            </i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <!-- <h2 class="h4">Admins</h2> -->
    <div class="border p-3">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">שם</th>
            <th scope="col">תאריך</th>
            <th scope="col">מחק</th>
            <th scope="col">ערוך</th>
            <th scope="col">הצג</th>
            <th scope="col">סמכות</th>
            <th scope="col">הרשאות</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins; let idx = index">
            <th scope="row">{{ idx }}</th>
            <td>{{ admin.user.name }}</td>
            <td>
              <small *ngIf="admin.user.created_at as dt" class="text-muted">
                {{ dt | dateHeb:'full' }}
              </small>
            </td>
            <td><a class="btn btn-outline-primary btn-sm" (click)="show('/dashboard/admins-views/'+admin.user.id)">הצג</a>
            </td>
            <td><a class="btn btn-outline-warning btn-sm"
                (click)="edit('/dashboard/admins-views/'+admin.user.id+'/edit')">ערוך</a></td>
            <td><a class="btn btn-outline-danger btn-sm" (click)="destroy('admins', admin)">מחק</a></td>
            <td>
              {{ admin.authority?.slug }}
            </td>
            <td>
              <div class="row no-gutters">
                <div class="col-8">
                  <div class="inputTypeNumber d-flex bd-highlight">
                    <select *ngIf="admin.authority?.id as authId" [id]="'authority'+admin.authority.slug+(idx+1)"
                      class="w-100 bd-highlightpx-1" [value]="authId" (change)="allowSubmit($event, 'authority'+admin.authority.slug+(idx+1), admin)">

                      <option [value]="authId" [selected]="admin.authority?.id == authId" disabled="true">{{ admin.authority?.name }}</option>
                      <option *ngIf="admin.authority?.slug != 'admin'" [value]="1">Admin</option>
                      <option *ngIf="admin.authority?.slug != 'author'" [value]="2">Author</option>
                      <option *ngIf="admin.authority?.slug != 'editor'" [value]="3">Editor</option>
                      
                    </select>
                    <span class="validity float-left"></span>
                  </div>
                </div>
                <div class="col-4">
                  <button *ngIf="allowSubmitButton['authority'+admin.authority.slug+(idx+1)]" 
                    type="button" class="btn btn-link" (click)="makeAdmin('authority'+admin.authority.slug+(idx+1), admin)">אשר</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
<router-outlet></router-outlet>