<!-- header edite -->
<div *ngIf="usersType$ | async as users" class="row">
  <div class="col-sm-12">
    <div class="shadow-sm text-right">

      <div class="p-3 clearfix">
        <a routerLinkActive="active" routerLink="basic"
          class="googleFont ml-1 px-2 p-2 border rounded text-center float-right">
          <span>
            אדמנים
            <i class="material-icons">supervisor_account</i>
          </span>
        </a>
        <a routerLinkActive="active" routerLink="gallery"
          class="googleFont ml-1 px-2 p-2 border rounded text-center float-right">
          <span>
            מדיה

            <i class="material-icons">perm_media</i>
          </span>
        </a>

        <a routerLinkActive="active" routerLink="all"
          class="googleFont ml-1 px-2 p-2 border rounded text-center float-right">
          <span>
            ערוך הכל
            <i class="material-icons">select_all</i>
          </span>
        </a>

        <a routerLinkActive="active" routerLink="events"
          class="googleFont ml-1 px-2 p-2 border rounded text-center float-right">
          <span>
            יומן אירועים
            <i class="material-icons">add</i>
          </span>
        </a>
        
        <a routerLinkActive="active" (click)="destroy()"
          class="googleFont px-2 p-2 border rounded text-center float-left">
          <span>
            הסר חשבון
            <i class="material-icons text-danger">
              delete_forever
            </i>
          </span>
        </a>

        <a routerLinkActive="active" class="btn btn-primary" (click)="create('/dashboard/admins-views/create')"
          class="googleFont px-2 p-2 border rounded text-center float-left">
          <span>
            צור אדמין חדש
            <i class="material-icons">
              create
            </i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div *ngFor="let userTp of users | keyvalue" class="col-sm-12">
    <div *ngIf="userTp.value && userTp.value.data as usersData" class="border p-3 rounded">
      <h2 class="h4">{{ userTp.key == "customers"? "קליינטים": "משתמשים" }}</h2>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">שם</th>
            <th scope="col">תאריך</th>
            <th scope="col">מחק</th>
            <th scope="col">ערוך</th>
            <th scope="col">הצג</th>
            <th scope="col">סמכות</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of usersData; let idx = index">
          <tr>
            <th scope="row">{{ idx }}</th>
            <td>
              {{ user.name? user.name: user.customer? user.customer.company:user.name }}
            </td>

            <td>
              <small *ngIf="user.created_at || (user.customer && user.customer.created_at) as dt" class="text-muted">
                {{ dt | dateHebraw:'full' }}
              </small>
            </td>
            <td><a class="btn btn-outline-primary btn-sm" (click)="show('/dashboard/admins-views/'+user.id)">הצג</a>
            </td>
            <td><a class="btn btn-outline-warning btn-sm"
                (click)="edit('/dashboard/admins-views/'+user.id+'/edit')">ערוך</a></td>
            <td><a class="btn btn-outline-danger btn-sm">מחק</a></td>
            <td>
              {{ user.authority?.slug }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>