<!-- <app-admin-registration *ngIf="isRegistered"></app-admin-registration> -->

<div *ngIf="resources" class="row text-right">
  <div class="col-12 mb-3">
    <div class="rounded-right-warning bg-light shadow-sm clearfix">
      <h5 class="p-2 text-black-50 h2 float-right">
        <a routerLink="/dashboard">
          <!-- (click)=setTemplateType(main) -->
          <i class="material-icons">dashboard</i>
        </a>
        דשבורד
      </h5>
      <div class="float-left m-1">
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/admins-views/create')"> צור
          אדמין</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/users-views/create')"> צור
          משתמש</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/customers-views/create')"> צור
          קליינט</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/articles-views/create')"> צור
          פוסט</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/events-views/create')"> צור
          אירוע</button>
        <a class="btn btn-outline-success m-1" (click)="login('/login')"> התחבר</a>
        <a class="btn btn-outline-danger m-1" (click)="logout()"> התנתק</a>
        <!-- <a class="btn btn-outline-warning m-1" (click)="register()">admin register</a> -->
        <a class="btn btn-outline-danger m-1" (click)="getOuterRquests()">GetOuterRquests</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">

    <ul class="navbar-nav rounded-right-warning list-unstyled text-secondary">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/dashboard">
          <!-- (click)=setTemplateType(main) -->
          <i class="material-icons">dashboard</i>
          דשבורד
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="admins-views">מנהלים</a></li>
      <!-- <li class="nav-item" routerLinkActive="active"><a routerLink="admin-profile">פרופיל</a></li> -->
      <!-- (click)=setTemplateType(adminProfile) -->
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="users-views">
          <i class="fa fa-users"></i>
          משתמשים
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="customers-views">קליינטים</a></li>
      <!--  (click)=setTemplateType(customersView) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="articles-views">פוסטים</a></li>
      <!-- (click)=setTemplateType(posts) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="events-views">אירועים</a></li>
      <!-- (click)=setTemplateType(events) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="mail-views">דואר
          <span *ngIf="resources['messages'] as messages" class="badge badge-primary badge-pill">
            {{ messages.data.length }} </span>
        </a></li>
      <!--  (click)=setTemplateType(messages) -->
      <!-- <li class="nav-item" routerLinkActive="active"><a routerLink="role">ניהול הרשאות</a></li> -->
      <!-- (click)=setTemplateType(tasks) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="quick-editor">Tables</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="task">משימות</a></li>
      <li class="nav-item" routerLinkActive="active"><a>דפים</a></li>
      <!--  (click)=setTemplateType(quickEdit) -->
      <!-- <li class="nav-item" routerLinkActive="active"><a (click)=setTemplateType(security)>אבטחה</a></li> -->
    </ul>
  </div>
  <div class="col-sm-10">
    <!-- <app-admin-panel [resources]="resources"></app-admin-panel> -->
    <!-- <ng-content *ngIf="resources"></ng-content> -->
    <!-- <ng-content></ng-content> -->

    <router-outlet></router-outlet>
    <!-- <ng-container *ngTemplateOutlet="templateType; context:{elem: resources}"></ng-container> -->
  </div>
</div>




<!-- 
  <ng-template #quickEdit let-res="elem">
    <admin-panel [itemsResources]="res"></admin-panel>
</ng-template> 

<ng-template #users let-res="elem['users']">
    <app-users-views [itemsResources]="res"></app-users-views>
</ng-template>

<ng-template #adminProfile let-res="elem">
    <admin-profile [itemsResources]="res"></admin-profile>
</ng-template>

<ng-template #customersView let-res="elem['customers']">
    <customers-views [itemsResources]="res"></customers-views>
</ng-template>

<ng-template #events let-res="elem['events']">
    <app-events-views [itemsResources]="res"></app-events-views>
</ng-template>

<ng-template #messages let-res="elem">
    <app-messages [itemsResources]="res"></app-messages>
</ng-template>

<ng-template #posts let-res="elem['articles']">
    <app-posts-views [itemsResources]="res"></app-posts-views>
</ng-template>

<ng-template #security let-res="elem">
    <app-security [itemsResources]="res"></app-security>
</ng-template>

<ng-template #tasks let-res="elem">
    <app-tasks [itemsResources]="res"></app-tasks>
</ng-template>
-->