/* aside dashboard */
ul > li {
    padding: .7rem;
 }

ul li i.material-icons{
    color: #007bff;
}



ul.navbar-nav li.active > a{
    color: #47BD35;
}

ul.navbar-nav > li.active:after {
    margin-bottom: .2rem;
}



ul.navbar-nav li:hover > a {
    color: #47BD35;
    /* color: #F6DC2F; */
}


.total {
    font-size: 2.5rem;
    /* border: 1px solid cadetblue; */
    /* border-radius: 100%; */
}
.recently{
    font-size: 1.5rem;
}

div.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid #F6DC2F;
    border-right-color: #f00;
    border-left-color: #47BD35;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}