<div *ngIf="resources$ | async as resources" class="row text-right">
  <div class="col-12 mb-3">
    <div class="rounded-right-warning bg-light shadow-sm clearfix">
      <h5 class="p-2 text-black-50 h2 float-right">
          <a routerLink="/dashboard">
            <!-- (click)=setTemplateType(default) -->
            <i class="material-icons">dashboard</i>
          </a>
          דשבורד
        
      </h5>
      <div class="float-left m-1">
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/admins-views/create')"> צור אדמין</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/users-views/create')"> צור משתמש</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/customers-views/create')"> צור קליינט</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/blog-views/create')"> צור פוסט</button>
        <button class="btn btn-link m-1" type="button" (click)="create('dashboard/events-views/create')"> צור אירוע</button>
        <a class="btn btn-outline-success m-1" (click)="login('/login')"> התחבר</a>
        <a class="btn btn-outline-danger m-1" (click)="logout()"> התנתק</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">

    <ul
      class="navbar-nav rounded-right-warning list-unstyled text-secondary d-flex bd-highlight flex-wrap d-md-block pr-3">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/dashboard">
          <!-- (click)=setTemplateType(default) -->
          <i class="material-icons">dashboard</i>
          דשבורד
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="admin-profile">פרופיל</a></li>
      <!-- (click)=setTemplateType(adminProfile) -->
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="users-views">
          <i class="fa fa-users"></i>
          משתמשים
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="customers-views">קליינטים</a></li>
      <!--  (click)=setTemplateType(customersView) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="blog-views">פוסטים</a></li>
      <!-- (click)=setTemplateType(posts) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="events-views">אירועים</a></li>
      <!-- (click)=setTemplateType(events) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="mail">דואר
          <span *ngIf="resources['messages'] as messages" class="badge badge-primary badge-pill"> {{ messages.data.length }} </span>
        </a></li>
      <!--  (click)=setTemplateType(messages) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="role">ניהול הרשאות</a></li>
      <li class="nav-item" routerLinkActive="active"><a>Table</a></li>
      <li class="nav-item" routerLinkActive="active"><a>דפים</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="task">משימות</a></li>
      <!-- (click)=setTemplateType(tasks) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="quick-editor">עורך תוכן מהיר</a></li>
      <!--  (click)=setTemplateType(quickEdit) -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="admins-views">מנהלים</a></li>
      <li class="nav-item" routerLinkActive="active"><a (click)=setTemplateType(security)>אבטחה</a></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <!-- <app-admin-panel [resources]="resources"></app-admin-panel> -->
    <!-- <ng-content *ngIf="resources"></ng-content> -->
    <!-- <ng-content></ng-content> -->

    <router-outlet></router-outlet>
    <ng-container *ngTemplateOutlet="templateType; context:{elem: resources}"></ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="col-sm-3">
    <div class="p-3 border rounded">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #default let-res="elem">
  <div *ngIf="res" class="row">

    <div *ngIf="res['users'] && res['users'].data as users; else loading" class="col-sm-3">
      <div class="p-3 border rounded">
        <div class="header">
          <i class="fa fa-users" style="font-size: 1.5rem;"></i>
          משתמשים
        </div>
        <hr>
        <div class="body p-1">
          <span class="text d-block">
            סהכ:
          </span>
          <div class="circle text-center">
            <span class="total p-3">{{ users.length }}</span>
          </div>
        </div>
        <div class="footer p-1">
          <span class="text">
            הצטרפו לאחרונה:
          </span>
          <span class="recently">10</span>
        </div>
      </div>
    </div>
    
    <div *ngIf="res['customers'] && res['customers'].data as customers" class="col-sm-3">
      <div class="p-3 border rounded">
        <div class="header">
          <!-- <i class="fa fa-users" style="font-size: 1.5rem;"></i> -->
          קליינטים
        </div>
        <hr>
        <div class="body p-1">
          <span class="text d-block">
            סהכ:
          </span>
          <div class="circle text-center">
            <span class="total p-3">{{ customers.length }}</span>
          </div>
        </div>
        <div class="footer p-1">
          <span class="text">
            הצטרפו לאחרונה:
          </span>
          <span class="recently">10</span>
        </div>
      </div>
    </div>
    <div *ngIf="res['blog'] && res['blog'].data as blog" class="col-sm-3">
      <div class="p-3 border rounded">
        <div class="header">
          <!-- <i class="fa fa-users" style="font-size: 1.5rem;"></i> -->
          מאמרים\פוסטים
        </div>
        <hr>
        <div class="body p-1">
          <span class="text d-block">
            סהכ:
          </span>
          <div class="circle text-center">
            <span class="total p-3">{{ blog.length }}</span>
          </div>
        </div>
        <div class="footer p-1">
          <span class="text">
            נוספו לאחרונה:
          </span>
          <span class="recently">10</span>
        </div>
      </div>
    </div>
    <div *ngIf="res['events'] && res['events'].data as events" class="col-sm-3">
      <div class="p-3 border rounded">
        <div class="header">
          <!-- <i class="fa fa-users" style="font-size: 1.5rem;"></i> -->
          אירועים
        </div>
        <hr>
        <div class="body p-1">
          <span class="text d-block">
            סהכ:
          </span>
          <div class="circle text-center">
            <span class="total p-3">{{ events.length }}</span>
          </div>
        </div>
        <div class="footer p-1">
          <span class="text">
            נוספו לאחרונה:
          </span>
          <span class="recently">10</span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 my-3" style="height:260px;">
      <div class="border rounded h-100">
        <ul>
          <li>סטטיסטיקה(גרף)</li>
          <li>תנועות ופעילויות</li>
        </ul>
      </div>
    </div>

    <div class="col">
      <h5 class="shadow-sm py-2 text-black-50 h5">
        <i class="fa fa-message text-secondary"></i>
        ממתינים:
      </h5>
      <div class="border rounded p-3">
        <div *ngFor="let resource of res | keyvalue">
          
          <div *ngIf="resource.value && resource.value.pending as pend" class="border-bottom">
            <!-- <app-pending [itemsLists]="resource.value"></app-pending> -->
            <a class="py-2 d-flex justify-content-between align-items-center" [routerLink]="resource.key+'-views'">
              <h3 class="h6">
                {{ (resource.key == 'customers')? 'קליינטים':(resource.key == 'users')? 'משתמשים': (resource.key == 'blog')? 'מאמרים\\פוסטים':'אירועים' }}

                <small
                  *ngIf="(pend[0] && pend[0].created_at) || (pend[0] && pend[0].customer && pend[0].customer.created_at) as dt; else dateTxt"
                  class="text-muted">
                  {{ dt | dateHebraw:'full' }}
                </small>
              </h3>
              <span class="badge badge-primary badge-pill">{{ pend.length }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ng-template #dateTxt>
      <small class="text-muted">אין ממתינים חדשים</small>
    </ng-template>

    <div class="col-sm-4">
      <h5 class="shadow-sm py-2 text-black-50 h5">
        <i class="fa fa-message text-secondary"></i>
        משימות:
      </h5>
      <div class="border rounded p-3">
        <div class="border-bottom">

          <a href="#" class="py-2 d-flex justify-content-between align-items-center">
            <h6 class="h6">
              הושלמו
              <small class="text-muted">אין ממתינים חדשים</small>
            </h6>
            <span class="badge badge-primary badge-pill">2</span>
          </a>
        </div>
        <div class="border-bottom">
          <a href="#" class="py-2 d-flex justify-content-between align-items-center">

            <h6 class="h6">
              בתהליך
              <small class="text-muted">אין ממתינים חדשים</small>
            </h6>
            <span class="badge badge-primary badge-pill">10</span>
          </a>
        </div>
        <div class="border-bottom">
          <a href="#" class="py-2 d-flex justify-content-between align-items-center">

            <h6 class="h6">
              ממתינים
              <small class="text-muted">אין ממתינים חדשים</small>
            </h6>
            <span class="badge badge-primary badge-pill">10</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="rounded">
        <div class="list-group">
          <h5 class="shadow-sm py-2 text-black-50 h5">
            <i class="fa fa-message text-secondary"></i>
            ממתינים:
          </h5>
          <a class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in
            <span class="badge badge-primary badge-pill">2</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1"
            aria-disabled="true">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- 
  <ng-template #quickEdit let-res="elem">
    <admin-panel [itemsResources]="res"></admin-panel>
</ng-template> 

<ng-template #users let-res="elem['users']">
    <app-users-views [itemsResources]="res"></app-users-views>
</ng-template>

<ng-template #adminProfile let-res="elem">
    <admin-profile [itemsResources]="res"></admin-profile>
</ng-template>

<ng-template #customersView let-res="elem['customers']">
    <customers-views [itemsResources]="res"></customers-views>
</ng-template>

<ng-template #events let-res="elem['events']">
    <app-events-views [itemsResources]="res"></app-events-views>
</ng-template>

<ng-template #messages let-res="elem">
    <app-messages [itemsResources]="res"></app-messages>
</ng-template>

<ng-template #posts let-res="elem['blog']">
    <app-posts-views [itemsResources]="res"></app-posts-views>
</ng-template>

<ng-template #security let-res="elem">
    <app-security [itemsResources]="res"></app-security>
</ng-template>

<ng-template #tasks let-res="elem">
    <app-tasks [itemsResources]="res"></app-tasks>
</ng-template>
-->