<!-- <div [id]="modelId && modelId.id? modelId.id : modelId? modelId: null" class="modal fade" tabindex="-1" role="dialog" [attr.aria-labelledby]="modelId"
    aria-hidden="true">

    <div class="modal-dialog modal-md text-right">
        <div class="modal-content bg-light mx-auto">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="float-left" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div> -->

<div *ngIf="modelProps" [id]="modelProps.id" class="modal fade" tabindex="-1" role="dialog" [attr.aria-labelledby]="modelProps.id"
    aria-hidden="true">

    <div [class]="modelProps.modalSize+' modal-dialog text-right bg-light'">
      <div class="modal-content bg-light">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ modelProps.title }} ל: <small class="text-success"> {{ modelProps.nameTo}} </small></h5>
            <button type="button" class="close m-0 float-left" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <ng-content></ng-content>
          </div>
      </div>
    </div>
  </div>