<ng-template add-component></ng-template>

<div *ngIf="itemResource" class="col-12 text-right">
  <ng-container
    [ngTemplateOutlet]="(itemType == 'customers')? cleint:(itemType == 'blog')? blog: (itemType == 'events')? events:(itemType == 'users')? users: (itemType == 'admins')? admins: default">
  </ng-container>

  <!-- <ng-template add-component></ng-template> -->
  <!-- <ng-container [ngTemplateOutlet]="cleint"></ng-container> -->
  <!-- </div> -->
  <div *ngIf="(itemResource.customer || itemResource) as resource" class="border rounded my-3 p-3">

    <div class="clearfix">
      <!-- <span class="btn btn-light btn-sm" (click)="initForm(false, tableCustomers)"> -->
      <a [queryParams]="resource.businessType? {name:  resource.businessType}: undefined" routerLink="../">
        <span class="border border-success rounded p-1 costum-btn costum-btn-success">

          <i class="material-icons"> chevron_right </i>
          <i class="mt-icons"> חזור </i>
        </span>
      </a>

      <a  *ngIf="comp != 'edit'" [queryParams]="resource.businessType? {name:  resource.businessType}: undefined" [routerLink]="'edit'">
        <span class="border border-warning rounded mr-1 p-1 costum-btn costum-btn-warning">
          <i class="mt-icons"> ערוך </i>
          <i class="material-icons"> chevron_left </i>
        </span>
      </a>

      <span *ngIf="comp == 'edit'" class="border border-danger rounded mr-1 p-1 costum-btn costum-btn-danger" (click)="destroy(resource)">
        <i class="mt-icons">מחק</i>
        <i class="material-icons"> delete_forever </i>
      </span>
    </div>
  </div>
