<div class="shadow-sm p-1 mb-3">
  <div class="bg-light p-3 clearfix d-flex bd-highlight align-items-center">
    ערוך אירועים
  </div>
</div>
<form *ngIf="itemData" class="p-3 border rounded" [formGroup]="eventEdit" (ngSubmit)="onSubmit()">
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="name" class="form-control-label">
        שם:
      </label>
      <input class="form-control" formControlName="name" type="text">
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="form-control-label">
        אימייל:
      </label>
      <input class="form-control" id="email" formControlName="email" type="email">
    </div>
    <div class="form-group col-md-6">
      <label for="address" class="form-control-label">
        כתובת:
      </label>
      <input class="form-control" id="address" formControlName="address" type="address">
    </div>
    <div class="form-group col-md-6">
      <label for="location" class="form-control-label">
        מיקום:
      </label>
      <input class="form-control" id="location" formControlName="location" type="location">
    </div>

    <div class="form-group col-md-12">
      <div class="input">
        <input id="date" formControlName="date" type="text" autocomplete="off" (click)="fire(date)"
          (keyup)="(f.date.valid)? daily(date.value):''" placeholder="בחר תאריך" [pattern]="datePattern" #date>

        <label class="m-0 p-1 float-left" for="date">
          <i class="material-icons">date_range</i>
        </label>
      </div>
    </div>
    <div class="form-group col-2 custom-control custom-checkbox">
      <input [id]="confirmed" class="custom-control-input" type="checkbox" [checked]="f.confirmed.value">

      <label [for]="confirmed" class="custom-control-label">
        סטטוס:
        {{ f.confirmed.value? "סרב": "אשר" }}
      </label>
    </div>
    <div class="form-group col-md-10">
      <div class="mb-2 d-flex bd-highlight">
        <label for="phone" class="col-1">
          טל:
        </label>
        <input class="form-control" id="phone" placeholder="טל" formControlName="phone" type="tel">
        <span class="validity d-sm-none d-lg-block flex-shrink-1 bd-highlight"></span>
      </div>

    </div>
    <div class="form-group col-md-12">
      <label for="descriptions" class="form-control-label">
        תיאור\הודעה:
      </label>
      <div class="mb-2 clearfix">
        <quill-editor (onEditorCreated)="configEditor($event)" formControlName="descriptions">
        </quill-editor>
      </div>
    </div>

    <div class="col-sm-12 clearfix">
      <button class="btn btn-success btn-sm float-left" type="submit">עדכן</button>
    </div>
  </div>

</form>