<div *ngIf="itemData" class="col-12 text-right">
    <form class="form-row p-3 border rounded" [formGroup]="formGr" (ngSubmit)="onSubmit()">
      <div class="form-group col-sm-12">
        <h5 class="shadow-sm py-2 text-black-50 h4">

          <i class="fa fa-message text-secondary"></i>
          ערוך אירועים
        </h5>
      </div>
      <div class="form-group col-md-6">
        <label for="name" class="form-control-label">
          שם:
        </label>
        <input class="form-control" formControlName="name" type="text">
      </div>
      <div class="form-group col-md-6">
        <label for="email" class="form-control-label">
          אימייל:
        </label>
        <input class="form-control" id="email" formControlName="email" type="email">
      </div>
      <div class="form-group col-md-6">
        <label for="address" class="form-control-label">
          כתובת:
        </label>
        <input class="form-control" id="address" formControlName="address" type="address">
      </div>
      <div class="form-group col-md-6">
        <label for="location" class="form-control-label">
          מיקום:
        </label>
        <input class="form-control" id="location" formControlName="location" type="location">
      </div>

      <div class="form-group col-md-6">
        <label for="date" class="form-control-label">
          תאריך:
        </label>
        <input class="form-control" id="date" formControlName="date" type="text">
      </div>
      <div class="form-group col-md-6">
        <label for="phone" class="form-control-label">
          טל:
        </label>
        <input class="form-control" id="phone" formControlName="phone" type="tel">
      </div>
      <div class="form-group col-md-12">
        <label for="description" class="form-control-label">
          תיאור\הודעה:
        </label>
        <textarea class="form-control" id="description" formControlName="description" type="text" rows="8"></textarea>
      </div>
      <div class="form-group col-2 custom-control custom-checkbox">
        <input [id]="confirmed" class="custom-control-input" type="checkbox" [checked]="f.confirmed.value">

        <label [for]="confirmed" class="custom-control-label">
          סטטוס:
          {{ f.confirmed.value? "סרב": "אשר" }}
        </label>
      </div>
      <div class="col-sm-12 clearfix">
        <button class="btn btn-success btn-sm float-left" type="submit">עדכן</button>
    </div>
    </form>
</div>